(
 squares: {
  (x: -15, y: -32): [Wall],
  (x: -14, y: -32): [Wall],
  (x: -13, y: -32): [Wall],
  (x: -13, y: -31): [Zone(Exit)],
  (x: -13, y: -30): [Zone(Exit)],
  (x: -13, y: -29): [Zone(Exit)],
  (x: -13, y: -28): [Zone(Exit)],
  (x: -13, y: -27): [Zone(Exit)],
  (x: -13, y: -26): [Zone(Exit)],
  (x: -12, y: -32): [Wall],
  (x: -12, y: -31): [Zone(Exit)],
  (x: -12, y: -30): [Zone(Exit)],
  (x: -12, y: -29): [Zone(Exit)],
  (x: -12, y: -28): [Zone(Exit)],
  (x: -12, y: -27): [Zone(Exit)],
  (x: -12, y: -26): [Zone(Exit)],
  (x: -11, y: -32): [Wall],
  (x: -11, y: -31): [Zone(Exit)],
  (x: -11, y: -30): [Zone(Exit)],
  (x: -11, y: -29): [Zone(Exit)],
  (x: -11, y: -28): [Zone(Exit)],
  (x: -11, y: -27): [Zone(Exit)],
  (x: -11, y: -26): [Zone(Exit)],
  (x: -10, y: -32): [Wall],
  (x: -10, y: -31): [Zone(Exit)],
  (x: -10, y: -30): [Zone(Exit)],
  (x: -10, y: -29): [Zone(Exit)],
  (x: -10, y: -28): [Zone(Exit)],
  (x: -10, y: -27): [Zone(Exit)],
  (x: -10, y: -26): [Zone(Exit)],
  (x: -9, y: -32): [Wall],
  (x: -9, y: -31): [Zone(Exit)],
  (x: -9, y: -30): [Zone(Exit)],
  (x: -9, y: -29): [Zone(Exit)],
  (x: -9, y: -28): [Zone(Exit)],
  (x: -9, y: -27): [Zone(Exit)],
  (x: -9, y: -26): [Zone(Exit)],
  (x: -8, y: -32): [Wall],
  (x: -7, y: -32): [Wall],
 },
)
