(
 squares: {
  (x: -86, y: -99): [Zone(GoToDowntownZone)],
  (x: -86, y: -98): [Zone(GoToDowntownZone)],
  (x: -86, y: -97): [Zone(GoToDowntownZone)],
  (x: -86, y: -96): [Zone(GoToDowntownZone)],
  (x: -86, y: -95): [Zone(GoToDowntownZone)],
  (x: -85, y: -99): [Zone(GoToDowntownZone)],
  (x: -85, y: -98): [Zone(GoToDowntownZone)],
  (x: -85, y: -97): [Zone(GoToDowntownZone)],
  (x: -85, y: -96): [Zone(GoToDowntownZone)],
  (x: -85, y: -95): [Zone(GoToDowntownZone)],
  (x: -84, y: -119): [Zone(GoToDowntownZone)],
  (x: -84, y: -118): [Zone(GoToDowntownZone)],
  (x: -84, y: -117): [Zone(GoToDowntownZone)],
  (x: -84, y: -116): [Zone(GoToDowntownZone)],
  (x: -84, y: -115): [Zone(GoToDowntownZone)],
  (x: -84, y: -114): [Zone(GoToDowntownZone)],
  (x: -84, y: -113): [Zone(GoToDowntownZone)],
  (x: -84, y: -112): [Zone(GoToDowntownZone)],
  (x: -84, y: -111): [Zone(GoToDowntownZone)],
  (x: -84, y: -110): [Zone(GoToDowntownZone)],
  (x: -84, y: -109): [Zone(GoToDowntownZone)],
  (x: -84, y: -108): [Zone(GoToDowntownZone)],
  (x: -84, y: -107): [Zone(GoToDowntownZone)],
  (x: -84, y: -106): [Zone(GoToDowntownZone)],
  (x: -84, y: -105): [Zone(GoToDowntownZone)],
  (x: -84, y: -104): [Zone(GoToDowntownZone)],
  (x: -84, y: -103): [Zone(GoToDowntownZone)],
  (x: -84, y: -102): [Zone(GoToDowntownZone)],
  (x: -84, y: -101): [Zone(GoToDowntownZone)],
  (x: -84, y: -100): [Zone(GoToDowntownZone)],
  (x: -84, y: -99): [Zone(GoToDowntownZone)],
  (x: -84, y: -98): [Zone(GoToDowntownZone)],
  (x: -84, y: -97): [Zone(GoToDowntownZone)],
  (x: -84, y: -96): [Zone(GoToDowntownZone)],
  (x: -84, y: -95): [Zone(GoToDowntownZone)],
  (x: -83, y: -119): [Zone(GoToDowntownZone)],
  (x: -83, y: -118): [Zone(GoToDowntownZone)],
  (x: -83, y: -117): [Zone(GoToDowntownZone)],
  (x: -83, y: -116): [Zone(GoToDowntownZone)],
  (x: -83, y: -115): [Zone(GoToDowntownZone)],
  (x: -83, y: -114): [Zone(GoToDowntownZone)],
  (x: -83, y: -113): [Zone(GoToDowntownZone)],
  (x: -83, y: -112): [Zone(GoToDowntownZone)],
  (x: -83, y: -111): [Zone(GoToDowntownZone)],
  (x: -83, y: -110): [Zone(GoToDowntownZone)],
  (x: -83, y: -109): [Zone(GoToDowntownZone)],
  (x: -83, y: -108): [Zone(GoToDowntownZone)],
  (x: -83, y: -107): [Zone(GoToDowntownZone)],
  (x: -83, y: -106): [Zone(GoToDowntownZone)],
  (x: -83, y: -105): [Zone(GoToDowntownZone)],
  (x: -83, y: -104): [Zone(GoToDowntownZone)],
  (x: -83, y: -103): [Zone(GoToDowntownZone)],
  (x: -83, y: -102): [Zone(GoToDowntownZone)],
  (x: -83, y: -101): [Zone(GoToDowntownZone)],
  (x: -83, y: -100): [Zone(GoToDowntownZone)],
  (x: -83, y: -99): [Zone(GoToDowntownZone)],
  (x: -83, y: -98): [Zone(GoToDowntownZone)],
  (x: -83, y: -97): [Zone(GoToDowntownZone)],
  (x: -83, y: -96): [Zone(GoToDowntownZone)],
  (x: -83, y: -95): [Zone(GoToDowntownZone)],
  (x: -82, y: -119): [Zone(GoToDowntownZone)],
  (x: -82, y: -118): [Zone(GoToDowntownZone)],
  (x: -82, y: -117): [Zone(GoToDowntownZone)],
  (x: -82, y: -116): [Zone(GoToDowntownZone)],
  (x: -82, y: -115): [Zone(GoToDowntownZone)],
  (x: -82, y: -114): [Zone(GoToDowntownZone)],
  (x: -82, y: -113): [Zone(GoToDowntownZone)],
  (x: -82, y: -112): [Zone(GoToDowntownZone)],
  (x: -82, y: -111): [Zone(GoToDowntownZone)],
  (x: -82, y: -110): [Zone(GoToDowntownZone)],
  (x: -82, y: -109): [Zone(GoToDowntownZone)],
  (x: -82, y: -108): [Zone(GoToDowntownZone)],
  (x: -82, y: -107): [Zone(GoToDowntownZone)],
  (x: -82, y: -106): [Zone(GoToDowntownZone)],
  (x: -82, y: -105): [Zone(GoToDowntownZone)],
  (x: -82, y: -104): [Zone(GoToDowntownZone)],
  (x: -82, y: -103): [Zone(GoToDowntownZone)],
  (x: -82, y: -102): [Zone(GoToDowntownZone)],
  (x: -82, y: -101): [Zone(GoToDowntownZone)],
  (x: -82, y: -100): [Zone(GoToDowntownZone)],
  (x: -82, y: -99): [Zone(GoToDowntownZone)],
  (x: -82, y: -98): [Zone(GoToDowntownZone)],
  (x: -82, y: -97): [Zone(GoToDowntownZone)],
  (x: -82, y: -96): [Zone(GoToDowntownZone)],
  (x: -82, y: -95): [Zone(GoToDowntownZone)],
  (x: -81, y: -119): [Zone(GoToDowntownZone)],
  (x: -81, y: -118): [Zone(GoToDowntownZone)],
  (x: -81, y: -117): [Zone(GoToDowntownZone)],
  (x: -81, y: -116): [Zone(GoToDowntownZone)],
  (x: -81, y: -115): [Zone(GoToDowntownZone)],
  (x: -81, y: -114): [Zone(GoToDowntownZone)],
  (x: -81, y: -113): [Zone(GoToDowntownZone)],
  (x: -81, y: -112): [Zone(GoToDowntownZone)],
  (x: -81, y: -111): [Zone(GoToDowntownZone)],
  (x: -81, y: -110): [Zone(GoToDowntownZone)],
  (x: -81, y: -109): [Zone(GoToDowntownZone)],
  (x: -81, y: -108): [Zone(GoToDowntownZone)],
  (x: -81, y: -107): [Zone(GoToDowntownZone)],
  (x: -81, y: -106): [Zone(GoToDowntownZone)],
  (x: -81, y: -105): [Zone(GoToDowntownZone)],
  (x: -81, y: -104): [Zone(GoToDowntownZone)],
  (x: -81, y: -103): [Zone(GoToDowntownZone)],
  (x: -81, y: -102): [Zone(GoToDowntownZone)],
  (x: -81, y: -101): [Zone(GoToDowntownZone)],
  (x: -81, y: -100): [Zone(GoToDowntownZone)],
  (x: -81, y: -99): [Zone(GoToDowntownZone)],
  (x: -81, y: -98): [Zone(GoToDowntownZone)],
  (x: -81, y: -97): [Zone(GoToDowntownZone)],
  (x: -81, y: -96): [Zone(GoToDowntownZone)],
  (x: -81, y: -95): [Zone(GoToDowntownZone)],
  (x: -80, y: -119): [Zone(GoToDowntownZone)],
  (x: -80, y: -118): [Zone(GoToDowntownZone)],
  (x: -80, y: -117): [Zone(GoToDowntownZone)],
  (x: -80, y: -116): [Zone(GoToDowntownZone)],
  (x: -80, y: -115): [Zone(GoToDowntownZone)],
  (x: -80, y: -114): [Zone(GoToDowntownZone)],
  (x: -80, y: -113): [Zone(GoToDowntownZone)],
  (x: -80, y: -112): [Zone(GoToDowntownZone)],
  (x: -80, y: -111): [Zone(GoToDowntownZone)],
  (x: -80, y: -110): [Zone(GoToDowntownZone)],
  (x: -80, y: -109): [Zone(GoToDowntownZone)],
  (x: -80, y: -108): [Zone(GoToDowntownZone)],
  (x: -80, y: -107): [Zone(GoToDowntownZone)],
  (x: -80, y: -106): [Zone(GoToDowntownZone)],
  (x: -80, y: -105): [Zone(GoToDowntownZone)],
  (x: -80, y: -104): [Zone(GoToDowntownZone)],
  (x: -80, y: -103): [Zone(GoToDowntownZone)],
  (x: -80, y: -102): [Zone(GoToDowntownZone)],
  (x: -80, y: -101): [Zone(GoToDowntownZone)],
  (x: -80, y: -100): [Zone(GoToDowntownZone)],
  (x: -80, y: -99): [Zone(GoToDowntownZone)],
  (x: -80, y: -98): [Zone(GoToDowntownZone)],
  (x: -80, y: -97): [Zone(GoToDowntownZone)],
  (x: -80, y: -96): [Zone(GoToDowntownZone)],
  (x: -80, y: -95): [Zone(GoToDowntownZone)],
  (x: -79, y: -119): [Zone(GoToDowntownZone)],
  (x: -79, y: -118): [Zone(GoToDowntownZone)],
  (x: -79, y: -117): [Zone(GoToDowntownZone)],
  (x: -79, y: -116): [Zone(GoToDowntownZone)],
  (x: -79, y: -115): [Zone(GoToDowntownZone)],
  (x: -79, y: -114): [Zone(GoToDowntownZone)],
  (x: -79, y: -113): [Zone(GoToDowntownZone)],
  (x: -79, y: -112): [Zone(GoToDowntownZone)],
  (x: -79, y: -111): [Zone(GoToDowntownZone)],
  (x: -79, y: -110): [Zone(GoToDowntownZone)],
  (x: -79, y: -109): [Zone(GoToDowntownZone)],
  (x: -79, y: -108): [Zone(GoToDowntownZone)],
  (x: -79, y: -107): [Zone(GoToDowntownZone)],
  (x: -79, y: -106): [Zone(GoToDowntownZone)],
  (x: -79, y: -105): [Zone(GoToDowntownZone)],
  (x: -79, y: -104): [Zone(GoToDowntownZone)],
  (x: -79, y: -103): [Zone(GoToDowntownZone)],
  (x: -79, y: -102): [Zone(GoToDowntownZone)],
  (x: -79, y: -101): [Zone(GoToDowntownZone)],
  (x: -79, y: -100): [Zone(GoToDowntownZone)],
  (x: -79, y: -99): [Zone(GoToDowntownZone)],
  (x: -79, y: -98): [Zone(GoToDowntownZone)],
  (x: -79, y: -97): [Zone(GoToDowntownZone)],
  (x: -79, y: -96): [Zone(GoToDowntownZone)],
  (x: -79, y: -95): [Zone(GoToDowntownZone)],
  (x: -78, y: -119): [Zone(GoToDowntownZone)],
  (x: -78, y: -118): [Zone(GoToDowntownZone)],
  (x: -78, y: -117): [Zone(GoToDowntownZone)],
  (x: -78, y: -116): [Zone(GoToDowntownZone)],
  (x: -78, y: -115): [Zone(GoToDowntownZone)],
  (x: -78, y: -114): [Zone(GoToDowntownZone)],
  (x: -78, y: -113): [Zone(GoToDowntownZone)],
  (x: -78, y: -112): [Zone(GoToDowntownZone)],
  (x: -78, y: -111): [Zone(GoToDowntownZone)],
  (x: -78, y: -110): [Zone(GoToDowntownZone)],
  (x: -78, y: -109): [Zone(GoToDowntownZone)],
  (x: -78, y: -108): [Zone(GoToDowntownZone)],
  (x: -78, y: -107): [Zone(GoToDowntownZone)],
  (x: -78, y: -106): [Zone(GoToDowntownZone)],
  (x: -78, y: -105): [Zone(GoToDowntownZone)],
  (x: -78, y: -104): [Zone(GoToDowntownZone)],
  (x: -78, y: -103): [Zone(GoToDowntownZone)],
  (x: -78, y: -102): [Zone(GoToDowntownZone)],
  (x: -78, y: -101): [Zone(GoToDowntownZone)],
  (x: -78, y: -100): [Zone(GoToDowntownZone)],
  (x: -78, y: -99): [Zone(GoToDowntownZone)],
  (x: -78, y: -98): [Zone(GoToDowntownZone)],
  (x: -78, y: -97): [Zone(GoToDowntownZone)],
  (x: -78, y: -96): [Zone(GoToDowntownZone)],
  (x: -78, y: -95): [Zone(GoToDowntownZone)],
  (x: -77, y: -119): [Zone(GoToDowntownZone)],
  (x: -77, y: -118): [Zone(GoToDowntownZone)],
  (x: -77, y: -117): [Zone(GoToDowntownZone)],
  (x: -77, y: -116): [Zone(GoToDowntownZone)],
  (x: -77, y: -115): [Zone(GoToDowntownZone)],
  (x: -77, y: -114): [Zone(GoToDowntownZone)],
  (x: -77, y: -113): [Zone(GoToDowntownZone)],
  (x: -77, y: -112): [Zone(GoToDowntownZone)],
  (x: -77, y: -111): [Zone(GoToDowntownZone)],
  (x: -77, y: -110): [Zone(GoToDowntownZone)],
  (x: -77, y: -109): [Zone(GoToDowntownZone)],
  (x: -77, y: -108): [Zone(GoToDowntownZone)],
  (x: -77, y: -107): [Zone(GoToDowntownZone)],
  (x: -77, y: -106): [Zone(GoToDowntownZone)],
  (x: -77, y: -105): [Zone(GoToDowntownZone)],
  (x: -77, y: -104): [Zone(GoToDowntownZone)],
  (x: -77, y: -103): [Zone(GoToDowntownZone)],
  (x: -77, y: -102): [Zone(GoToDowntownZone)],
  (x: -77, y: -101): [Zone(GoToDowntownZone)],
  (x: -77, y: -100): [Zone(GoToDowntownZone)],
  (x: -77, y: -99): [Zone(GoToDowntownZone)],
  (x: -77, y: -98): [Zone(GoToDowntownZone)],
  (x: -77, y: -97): [Zone(GoToDowntownZone)],
  (x: -77, y: -96): [Zone(GoToDowntownZone)],
  (x: -77, y: -95): [Zone(GoToDowntownZone)],
  (x: -76, y: -119): [Zone(GoToDowntownZone)],
  (x: -76, y: -118): [Zone(GoToDowntownZone)],
  (x: -76, y: -117): [Zone(GoToDowntownZone)],
  (x: -76, y: -116): [Zone(GoToDowntownZone)],
  (x: -76, y: -115): [Zone(GoToDowntownZone)],
  (x: -76, y: -114): [Zone(GoToDowntownZone)],
  (x: -76, y: -113): [Zone(GoToDowntownZone)],
  (x: -76, y: -112): [Zone(GoToDowntownZone)],
  (x: -76, y: -111): [Zone(GoToDowntownZone)],
  (x: -76, y: -110): [Zone(GoToDowntownZone)],
  (x: -76, y: -109): [Zone(GoToDowntownZone)],
  (x: -76, y: -108): [Zone(GoToDowntownZone)],
  (x: -76, y: -107): [Zone(GoToDowntownZone)],
  (x: -76, y: -106): [Zone(GoToDowntownZone)],
  (x: -76, y: -105): [Zone(GoToDowntownZone)],
  (x: -76, y: -104): [Zone(GoToDowntownZone)],
  (x: -76, y: -103): [Zone(GoToDowntownZone)],
  (x: -76, y: -102): [Zone(GoToDowntownZone)],
  (x: -76, y: -101): [Zone(GoToDowntownZone)],
  (x: -76, y: -100): [Zone(GoToDowntownZone)],
  (x: -76, y: -99): [Zone(GoToDowntownZone)],
  (x: -76, y: -98): [Zone(GoToDowntownZone)],
  (x: -76, y: -97): [Zone(GoToDowntownZone)],
  (x: -76, y: -96): [Zone(GoToDowntownZone)],
  (x: -76, y: -95): [Zone(GoToDowntownZone)],
  (x: -75, y: -119): [Zone(GoToDowntownZone)],
  (x: -75, y: -118): [Zone(GoToDowntownZone)],
  (x: -75, y: -117): [Zone(GoToDowntownZone)],
  (x: -75, y: -116): [Zone(GoToDowntownZone)],
  (x: -75, y: -115): [Zone(GoToDowntownZone)],
  (x: -75, y: -114): [Zone(GoToDowntownZone)],
  (x: -75, y: -113): [Zone(GoToDowntownZone)],
  (x: -75, y: -112): [Zone(GoToDowntownZone)],
  (x: -75, y: -111): [Zone(GoToDowntownZone)],
  (x: -75, y: -110): [Zone(GoToDowntownZone)],
  (x: -75, y: -109): [Zone(GoToDowntownZone)],
  (x: -75, y: -108): [Zone(GoToDowntownZone)],
  (x: -75, y: -107): [Zone(GoToDowntownZone)],
  (x: -75, y: -106): [Zone(GoToDowntownZone)],
  (x: -75, y: -105): [Zone(GoToDowntownZone)],
  (x: -75, y: -104): [Zone(GoToDowntownZone)],
  (x: -75, y: -103): [Zone(GoToDowntownZone)],
  (x: -75, y: -102): [Zone(GoToDowntownZone)],
  (x: -75, y: -101): [Zone(GoToDowntownZone)],
  (x: -75, y: -100): [Zone(GoToDowntownZone)],
  (x: -75, y: -99): [Zone(GoToDowntownZone)],
  (x: -75, y: -98): [Zone(GoToDowntownZone)],
  (x: -75, y: -97): [Zone(GoToDowntownZone)],
  (x: -75, y: -96): [Zone(GoToDowntownZone)],
  (x: -75, y: -95): [Zone(GoToDowntownZone)],
  (x: -74, y: -119): [Zone(GoToDowntownZone)],
  (x: -74, y: -118): [Zone(GoToDowntownZone)],
  (x: -74, y: -117): [Zone(GoToDowntownZone)],
  (x: -74, y: -116): [Zone(GoToDowntownZone)],
  (x: -74, y: -115): [Zone(GoToDowntownZone)],
  (x: -74, y: -114): [Zone(GoToDowntownZone)],
  (x: -74, y: -113): [Zone(GoToDowntownZone)],
  (x: -74, y: -112): [Zone(GoToDowntownZone)],
  (x: -74, y: -111): [Zone(GoToDowntownZone)],
  (x: -74, y: -110): [Zone(GoToDowntownZone)],
  (x: -74, y: -109): [Zone(GoToDowntownZone)],
  (x: -74, y: -108): [Zone(GoToDowntownZone)],
  (x: -74, y: -107): [Zone(GoToDowntownZone)],
  (x: -74, y: -106): [Zone(GoToDowntownZone)],
  (x: -74, y: -105): [Zone(GoToDowntownZone)],
  (x: -74, y: -104): [Zone(GoToDowntownZone)],
  (x: -74, y: -103): [Zone(GoToDowntownZone)],
  (x: -74, y: -102): [Zone(GoToDowntownZone)],
  (x: -74, y: -101): [Zone(GoToDowntownZone)],
  (x: -74, y: -100): [Zone(GoToDowntownZone)],
  (x: -74, y: -99): [Zone(GoToDowntownZone)],
  (x: -74, y: -98): [Zone(GoToDowntownZone)],
  (x: -74, y: -97): [Zone(GoToDowntownZone)],
  (x: -74, y: -96): [Zone(GoToDowntownZone)],
  (x: -74, y: -95): [Zone(GoToDowntownZone)],
  (x: -73, y: -119): [Zone(GoToDowntownZone)],
  (x: -73, y: -118): [Zone(GoToDowntownZone)],
  (x: -73, y: -117): [Zone(GoToDowntownZone)],
  (x: -73, y: -116): [Zone(GoToDowntownZone)],
  (x: -73, y: -115): [Zone(GoToDowntownZone)],
  (x: -73, y: -114): [Zone(GoToDowntownZone)],
  (x: -73, y: -113): [Zone(GoToDowntownZone)],
  (x: -73, y: -112): [Zone(GoToDowntownZone)],
  (x: -73, y: -111): [Zone(GoToDowntownZone)],
  (x: -73, y: -110): [Zone(GoToDowntownZone)],
  (x: -73, y: -109): [Zone(GoToDowntownZone)],
  (x: -73, y: -108): [Zone(GoToDowntownZone)],
  (x: -73, y: -107): [Zone(GoToDowntownZone)],
  (x: -73, y: -106): [Zone(GoToDowntownZone)],
  (x: -73, y: -105): [Zone(GoToDowntownZone)],
  (x: -73, y: -104): [Zone(GoToDowntownZone)],
  (x: -73, y: -103): [Zone(GoToDowntownZone)],
  (x: -73, y: -102): [Zone(GoToDowntownZone)],
  (x: -73, y: -101): [Zone(GoToDowntownZone)],
  (x: -73, y: -100): [Zone(GoToDowntownZone)],
  (x: -73, y: -99): [Zone(GoToDowntownZone)],
  (x: -73, y: -98): [Zone(GoToDowntownZone)],
  (x: -73, y: -97): [Zone(GoToDowntownZone)],
  (x: -73, y: -96): [Zone(GoToDowntownZone)],
  (x: -73, y: -95): [Zone(GoToDowntownZone)],
  (x: -72, y: -119): [Zone(GoToDowntownZone)],
  (x: -72, y: -118): [Zone(GoToDowntownZone)],
  (x: -72, y: -117): [Zone(GoToDowntownZone)],
  (x: -72, y: -116): [Zone(GoToDowntownZone)],
  (x: -72, y: -115): [Zone(GoToDowntownZone)],
  (x: -72, y: -114): [Zone(GoToDowntownZone)],
  (x: -72, y: -113): [Zone(GoToDowntownZone)],
  (x: -72, y: -112): [Zone(GoToDowntownZone)],
  (x: -72, y: -111): [Zone(GoToDowntownZone)],
  (x: -72, y: -110): [Zone(GoToDowntownZone)],
  (x: -72, y: -109): [Zone(GoToDowntownZone)],
  (x: -72, y: -108): [Zone(GoToDowntownZone)],
  (x: -72, y: -107): [Zone(GoToDowntownZone)],
  (x: -72, y: -106): [Zone(GoToDowntownZone)],
  (x: -72, y: -105): [Zone(GoToDowntownZone)],
  (x: -72, y: -104): [Zone(GoToDowntownZone)],
  (x: -72, y: -103): [Zone(GoToDowntownZone)],
  (x: -72, y: -102): [Zone(GoToDowntownZone)],
  (x: -72, y: -101): [Zone(GoToDowntownZone)],
  (x: -72, y: -100): [Zone(GoToDowntownZone)],
  (x: -72, y: -99): [Zone(GoToDowntownZone)],
  (x: -72, y: -98): [Zone(GoToDowntownZone)],
  (x: -72, y: -97): [Zone(GoToDowntownZone)],
  (x: -72, y: -96): [Zone(GoToDowntownZone)],
  (x: -72, y: -95): [Zone(GoToDowntownZone)],
  (x: -71, y: -119): [Zone(GoToDowntownZone)],
  (x: -71, y: -118): [Zone(GoToDowntownZone)],
  (x: -71, y: -117): [Zone(GoToDowntownZone)],
  (x: -71, y: -116): [Zone(GoToDowntownZone)],
  (x: -71, y: -115): [Zone(GoToDowntownZone)],
  (x: -71, y: -114): [Zone(GoToDowntownZone)],
  (x: -71, y: -113): [Zone(GoToDowntownZone)],
  (x: -71, y: -112): [Zone(GoToDowntownZone)],
  (x: -71, y: -111): [Zone(GoToDowntownZone)],
  (x: -71, y: -110): [Zone(GoToDowntownZone)],
  (x: -71, y: -109): [Zone(GoToDowntownZone)],
  (x: -71, y: -108): [Zone(GoToDowntownZone)],
  (x: -71, y: -107): [Zone(GoToDowntownZone)],
  (x: -71, y: -106): [Zone(GoToDowntownZone)],
  (x: -71, y: -105): [Zone(GoToDowntownZone)],
  (x: -71, y: -104): [Zone(GoToDowntownZone)],
  (x: -71, y: -103): [Zone(GoToDowntownZone)],
  (x: -71, y: -102): [Zone(GoToDowntownZone)],
  (x: -71, y: -101): [Zone(GoToDowntownZone)],
  (x: -71, y: -100): [Zone(GoToDowntownZone)],
  (x: -71, y: -99): [Zone(GoToDowntownZone)],
  (x: -71, y: -98): [Zone(GoToDowntownZone)],
  (x: -71, y: -97): [Zone(GoToDowntownZone)],
  (x: -71, y: -96): [Zone(GoToDowntownZone)],
  (x: -71, y: -95): [Zone(GoToDowntownZone)],
  (x: -70, y: -119): [Zone(GoToDowntownZone)],
  (x: -70, y: -118): [Zone(GoToDowntownZone)],
  (x: -70, y: -117): [Zone(GoToDowntownZone)],
  (x: -70, y: -116): [Zone(GoToDowntownZone)],
  (x: -70, y: -115): [Zone(GoToDowntownZone)],
  (x: -70, y: -114): [Zone(GoToDowntownZone)],
  (x: -70, y: -113): [Zone(GoToDowntownZone)],
  (x: -70, y: -112): [Zone(GoToDowntownZone)],
  (x: -70, y: -111): [Zone(GoToDowntownZone)],
  (x: -70, y: -110): [Zone(GoToDowntownZone)],
  (x: -70, y: -109): [Zone(GoToDowntownZone)],
  (x: -70, y: -108): [Zone(GoToDowntownZone)],
  (x: -70, y: -107): [Zone(GoToDowntownZone)],
  (x: -70, y: -106): [Zone(GoToDowntownZone)],
  (x: -70, y: -105): [Zone(GoToDowntownZone)],
  (x: -70, y: -104): [Zone(GoToDowntownZone)],
  (x: -70, y: -103): [Zone(GoToDowntownZone)],
  (x: -70, y: -102): [Zone(GoToDowntownZone)],
  (x: -70, y: -101): [Zone(GoToDowntownZone)],
  (x: -70, y: -100): [Zone(GoToDowntownZone)],
  (x: -70, y: -99): [Zone(GoToDowntownZone)],
  (x: -70, y: -98): [Zone(GoToDowntownZone)],
  (x: -70, y: -97): [Zone(GoToDowntownZone)],
  (x: -70, y: -96): [Zone(GoToDowntownZone)],
  (x: -70, y: -95): [Zone(GoToDowntownZone)],
  (x: -69, y: -119): [Zone(GoToDowntownZone)],
  (x: -69, y: -118): [Zone(GoToDowntownZone)],
  (x: -69, y: -117): [Zone(GoToDowntownZone)],
  (x: -69, y: -116): [Zone(GoToDowntownZone)],
  (x: -69, y: -115): [Zone(GoToDowntownZone)],
  (x: -69, y: -114): [Zone(GoToDowntownZone)],
  (x: -69, y: -113): [Zone(GoToDowntownZone)],
  (x: -69, y: -112): [Zone(GoToDowntownZone)],
  (x: -69, y: -111): [Zone(GoToDowntownZone)],
  (x: -69, y: -110): [Zone(GoToDowntownZone)],
  (x: -69, y: -109): [Zone(GoToDowntownZone)],
  (x: -69, y: -108): [Zone(GoToDowntownZone)],
  (x: -69, y: -107): [Zone(GoToDowntownZone)],
  (x: -69, y: -106): [Zone(GoToDowntownZone)],
  (x: -69, y: -105): [Zone(GoToDowntownZone)],
  (x: -69, y: -104): [Zone(GoToDowntownZone)],
  (x: -69, y: -103): [Zone(GoToDowntownZone)],
  (x: -69, y: -102): [Zone(GoToDowntownZone)],
  (x: -69, y: -101): [Zone(GoToDowntownZone)],
  (x: -69, y: -100): [Zone(GoToDowntownZone)],
  (x: -69, y: -99): [Zone(GoToDowntownZone)],
  (x: -69, y: -98): [Zone(GoToDowntownZone)],
  (x: -69, y: -97): [Zone(GoToDowntownZone)],
  (x: -69, y: -96): [Zone(GoToDowntownZone)],
  (x: -69, y: -95): [Zone(GoToDowntownZone)],
  (x: -68, y: -119): [Zone(GoToDowntownZone)],
  (x: -68, y: -118): [Zone(GoToDowntownZone)],
  (x: -68, y: -117): [Zone(GoToDowntownZone)],
  (x: -68, y: -116): [Zone(GoToDowntownZone)],
  (x: -68, y: -115): [Zone(GoToDowntownZone)],
  (x: -68, y: -114): [Zone(GoToDowntownZone)],
  (x: -68, y: -113): [Zone(GoToDowntownZone)],
  (x: -68, y: -112): [Zone(GoToDowntownZone)],
  (x: -68, y: -111): [Zone(GoToDowntownZone)],
  (x: -68, y: -110): [Zone(GoToDowntownZone)],
  (x: -68, y: -109): [Zone(GoToDowntownZone)],
  (x: -68, y: -108): [Zone(GoToDowntownZone)],
  (x: -68, y: -107): [Zone(GoToDowntownZone)],
  (x: -68, y: -106): [Zone(GoToDowntownZone)],
  (x: -68, y: -105): [Zone(GoToDowntownZone)],
  (x: -68, y: -104): [Zone(GoToDowntownZone)],
  (x: -68, y: -103): [Zone(GoToDowntownZone)],
  (x: -68, y: -102): [Zone(GoToDowntownZone)],
  (x: -68, y: -101): [Zone(GoToDowntownZone)],
  (x: -68, y: -100): [Zone(GoToDowntownZone)],
  (x: -68, y: -99): [Zone(GoToDowntownZone)],
  (x: -68, y: -98): [Zone(GoToDowntownZone)],
  (x: -68, y: -97): [Zone(GoToDowntownZone)],
  (x: -68, y: -96): [Zone(GoToDowntownZone)],
  (x: -68, y: -95): [Zone(GoToDowntownZone)],
  (x: -67, y: -119): [Zone(GoToDowntownZone)],
  (x: -67, y: -118): [Zone(GoToDowntownZone)],
  (x: -67, y: -117): [Zone(GoToDowntownZone)],
  (x: -67, y: -116): [Zone(GoToDowntownZone)],
  (x: -67, y: -115): [Zone(GoToDowntownZone)],
  (x: -67, y: -114): [Zone(GoToDowntownZone)],
  (x: -67, y: -113): [Zone(GoToDowntownZone)],
  (x: -67, y: -112): [Zone(GoToDowntownZone)],
  (x: -67, y: -111): [Zone(GoToDowntownZone)],
  (x: -67, y: -110): [Zone(GoToDowntownZone)],
  (x: -67, y: -109): [Zone(GoToDowntownZone)],
  (x: -67, y: -108): [Zone(GoToDowntownZone)],
  (x: -67, y: -107): [Zone(GoToDowntownZone)],
  (x: -67, y: -106): [Zone(GoToDowntownZone)],
  (x: -67, y: -105): [Zone(GoToDowntownZone)],
  (x: -67, y: -104): [Zone(GoToDowntownZone)],
  (x: -67, y: -103): [Zone(GoToDowntownZone)],
  (x: -67, y: -102): [Zone(GoToDowntownZone)],
  (x: -67, y: -101): [Zone(GoToDowntownZone)],
  (x: -67, y: -100): [Zone(GoToDowntownZone)],
  (x: -67, y: -99): [Zone(GoToDowntownZone)],
  (x: -67, y: -98): [Zone(GoToDowntownZone)],
  (x: -67, y: -97): [Zone(GoToDowntownZone)],
  (x: -67, y: -96): [Zone(GoToDowntownZone)],
  (x: -67, y: -95): [Zone(GoToDowntownZone)],
  (x: -66, y: -119): [Zone(GoToDowntownZone)],
  (x: -66, y: -118): [Zone(GoToDowntownZone)],
  (x: -66, y: -117): [Zone(GoToDowntownZone)],
  (x: -66, y: -116): [Zone(GoToDowntownZone)],
  (x: -66, y: -115): [Zone(GoToDowntownZone)],
  (x: -66, y: -114): [Zone(GoToDowntownZone)],
  (x: -66, y: -113): [Zone(GoToDowntownZone)],
  (x: -66, y: -112): [Zone(GoToDowntownZone)],
  (x: -66, y: -111): [Zone(GoToDowntownZone)],
  (x: -66, y: -110): [Zone(GoToDowntownZone)],
  (x: -66, y: -109): [Zone(GoToDowntownZone)],
  (x: -66, y: -108): [Zone(GoToDowntownZone)],
  (x: -66, y: -107): [Zone(GoToDowntownZone)],
  (x: -66, y: -106): [Zone(GoToDowntownZone)],
  (x: -66, y: -105): [Zone(GoToDowntownZone)],
  (x: -66, y: -104): [Zone(GoToDowntownZone)],
  (x: -66, y: -103): [Zone(GoToDowntownZone)],
  (x: -66, y: -102): [Zone(GoToDowntownZone)],
  (x: -66, y: -101): [Zone(GoToDowntownZone)],
  (x: -66, y: -100): [Zone(GoToDowntownZone)],
  (x: -66, y: -99): [Zone(GoToDowntownZone)],
  (x: -66, y: -98): [Zone(GoToDowntownZone)],
  (x: -66, y: -97): [Zone(GoToDowntownZone)],
  (x: -66, y: -96): [Zone(GoToDowntownZone)],
  (x: -66, y: -95): [Zone(GoToDowntownZone)],
  (x: -65, y: -99): [Zone(GoToDowntownZone)],
  (x: -65, y: -98): [Zone(GoToDowntownZone)],
  (x: -65, y: -97): [Zone(GoToDowntownZone)],
  (x: -65, y: -96): [Zone(GoToDowntownZone)],
  (x: -65, y: -95): [Zone(GoToDowntownZone)],
  (x: -64, y: -99): [Zone(GoToDowntownZone)],
  (x: -64, y: -98): [Zone(GoToDowntownZone)],
  (x: -64, y: -97): [Zone(GoToDowntownZone)],
  (x: -64, y: -96): [Zone(GoToDowntownZone)],
  (x: -64, y: -95): [Zone(GoToDowntownZone)],
  (x: -37, y: 7): [Zone(EnterTowerZone)],
  (x: -37, y: 8): [Zone(EnterTowerZone)],
  (x: -37, y: 9): [Zone(EnterTowerZone)],
  (x: -37, y: 10): [Zone(EnterTowerZone)],
  (x: -37, y: 11): [Zone(EnterTowerZone)],
  (x: -37, y: 12): [Zone(EnterTowerZone)],
  (x: -37, y: 13): [Zone(EnterTowerZone)],
  (x: -36, y: 7): [Zone(EnterTowerZone)],
  (x: -36, y: 8): [Zone(EnterTowerZone)],
  (x: -36, y: 9): [Zone(EnterTowerZone)],
  (x: -36, y: 10): [Zone(EnterTowerZone)],
  (x: -36, y: 11): [Zone(EnterTowerZone)],
  (x: -36, y: 12): [Zone(EnterTowerZone)],
  (x: -36, y: 13): [Zone(EnterTowerZone)],
  (x: -36, y: 14): [Zone(EnterTowerZone)],
  (x: -36, y: 15): [Zone(EnterTowerZone)],
  (x: -36, y: 16): [Zone(EnterTowerZone)],
  (x: -35, y: 7): [Zone(EnterTowerZone)],
  (x: -35, y: 8): [Zone(EnterTowerZone)],
  (x: -35, y: 9): [Zone(EnterTowerZone)],
  (x: -35, y: 10): [Zone(EnterTowerZone)],
  (x: -35, y: 11): [Zone(EnterTowerZone)],
  (x: -35, y: 12): [Zone(EnterTowerZone)],
  (x: -35, y: 13): [Zone(EnterTowerZone)],
  (x: -35, y: 14): [Zone(EnterTowerZone)],
  (x: -35, y: 15): [Zone(EnterTowerZone)],
  (x: -35, y: 16): [Zone(EnterTowerZone)],
  (x: -34, y: 7): [Zone(EnterTowerZone)],
  (x: -34, y: 8): [Zone(EnterTowerZone)],
  (x: -34, y: 9): [Zone(EnterTowerZone)],
  (x: -34, y: 10): [Zone(EnterTowerZone)],
  (x: -34, y: 11): [Zone(EnterTowerZone)],
  (x: -34, y: 12): [Zone(EnterTowerZone)],
  (x: -34, y: 13): [Zone(EnterTowerZone)],
  (x: -34, y: 14): [Zone(EnterTowerZone)],
  (x: -34, y: 15): [Zone(EnterTowerZone)],
  (x: -34, y: 16): [Zone(EnterTowerZone)],
  (x: -33, y: 7): [Zone(EnterTowerZone)],
  (x: -33, y: 8): [Zone(EnterTowerZone)],
  (x: -33, y: 9): [Zone(EnterTowerZone)],
  (x: -33, y: 10): [Zone(EnterTowerZone)],
  (x: -33, y: 11): [Zone(EnterTowerZone)],
  (x: -33, y: 12): [Zone(EnterTowerZone)],
  (x: -33, y: 13): [Zone(EnterTowerZone)],
  (x: -33, y: 14): [Zone(EnterTowerZone)],
  (x: -33, y: 15): [Zone(EnterTowerZone)],
  (x: -33, y: 16): [Zone(EnterTowerZone)],
  (x: -32, y: 7): [Zone(EnterTowerZone)],
  (x: -32, y: 8): [Zone(EnterTowerZone)],
  (x: -32, y: 9): [Zone(EnterTowerZone)],
  (x: -32, y: 10): [Zone(EnterTowerZone)],
  (x: -32, y: 11): [Zone(EnterTowerZone)],
  (x: -32, y: 12): [Zone(EnterTowerZone)],
  (x: -32, y: 13): [Zone(EnterTowerZone)],
  (x: -32, y: 14): [Zone(EnterTowerZone)],
  (x: -32, y: 15): [Zone(EnterTowerZone)],
  (x: -32, y: 16): [Zone(EnterTowerZone)],
  (x: -31, y: 7): [Zone(EnterTowerZone)],
  (x: -31, y: 8): [Zone(EnterTowerZone)],
  (x: -31, y: 9): [Zone(EnterTowerZone)],
  (x: -31, y: 10): [Zone(EnterTowerZone)],
  (x: -31, y: 11): [Zone(EnterTowerZone)],
  (x: -31, y: 12): [Zone(EnterTowerZone)],
  (x: -31, y: 13): [Zone(EnterTowerZone)],
  (x: -31, y: 14): [Zone(EnterTowerZone)],
  (x: -31, y: 15): [Zone(EnterTowerZone)],
  (x: -31, y: 16): [Zone(EnterTowerZone)],
  (x: -30, y: 7): [Zone(EnterTowerZone)],
  (x: -30, y: 8): [Zone(EnterTowerZone)],
  (x: -30, y: 9): [Zone(EnterTowerZone)],
  (x: -30, y: 10): [Zone(EnterTowerZone)],
  (x: -30, y: 11): [Zone(EnterTowerZone)],
  (x: -30, y: 12): [Zone(EnterTowerZone)],
  (x: -30, y: 13): [Zone(EnterTowerZone)],
  (x: -30, y: 14): [Zone(EnterTowerZone)],
  (x: -29, y: 7): [Zone(EnterTowerZone)],
  (x: -29, y: 8): [Zone(EnterTowerZone)],
  (x: -29, y: 9): [Zone(EnterTowerZone)],
  (x: -29, y: 10): [Zone(EnterTowerZone)],
  (x: -29, y: 11): [Zone(EnterTowerZone)],
  (x: -29, y: 12): [Zone(EnterTowerZone)],
 },
)
