(
 squares: {
  (x: 46, y: -38): [Local(ExitZone)],
  (x: 46, y: -37): [Local(ExitZone)],
  (x: 46, y: -36): [Local(ExitZone)],
  (x: 46, y: -35): [Local(ExitZone)],
  (x: 46, y: -34): [Local(ExitZone)],
  (x: 46, y: -33): [Local(ExitZone)],
  (x: 46, y: -32): [Local(ExitZone)],
  (x: 46, y: -31): [Local(ExitZone)],
  (x: 46, y: -30): [Local(ExitZone)],
  (x: 47, y: -38): [Local(ExitZone)],
  (x: 47, y: -37): [Local(ExitZone)],
  (x: 47, y: -36): [Local(ExitZone)],
  (x: 47, y: -35): [Local(ExitZone)],
  (x: 47, y: -34): [Local(ExitZone)],
  (x: 47, y: -33): [Local(ExitZone)],
  (x: 47, y: -32): [Local(ExitZone)],
  (x: 47, y: -31): [Local(ExitZone)],
  (x: 47, y: -30): [Local(ExitZone)],
  (x: 48, y: -38): [Local(ExitZone)],
  (x: 48, y: -37): [Local(ExitZone)],
  (x: 48, y: -36): [Local(ExitZone)],
  (x: 48, y: -35): [Local(ExitZone)],
  (x: 48, y: -34): [Local(ExitZone)],
  (x: 48, y: -33): [Local(ExitZone)],
  (x: 48, y: -32): [Local(ExitZone)],
  (x: 48, y: -31): [Local(ExitZone)],
  (x: 48, y: -30): [Local(ExitZone)],
  (x: 49, y: -38): [Local(ExitZone)],
  (x: 49, y: -37): [Local(ExitZone)],
  (x: 49, y: -36): [Local(ExitZone)],
  (x: 49, y: -35): [Local(ExitZone)],
  (x: 49, y: -34): [Local(ExitZone)],
  (x: 49, y: -33): [Local(ExitZone)],
  (x: 49, y: -32): [Local(ExitZone)],
  (x: 49, y: -31): [Local(ExitZone)],
  (x: 49, y: -30): [Local(ExitZone)],
  (x: 50, y: -38): [Local(ExitZone)],
  (x: 50, y: -37): [Local(ExitZone)],
  (x: 50, y: -36): [Local(ExitZone)],
  (x: 50, y: -35): [Local(ExitZone)],
  (x: 50, y: -34): [Local(ExitZone)],
  (x: 50, y: -33): [Local(ExitZone)],
  (x: 50, y: -32): [Local(ExitZone)],
  (x: 50, y: -31): [Local(ExitZone)],
  (x: 50, y: -30): [Local(ExitZone)],
  (x: 51, y: -38): [Local(ExitZone)],
  (x: 51, y: -37): [Local(ExitZone)],
  (x: 51, y: -36): [Local(ExitZone)],
  (x: 51, y: -35): [Local(ExitZone)],
  (x: 51, y: -34): [Local(ExitZone)],
  (x: 51, y: -33): [Local(ExitZone)],
  (x: 51, y: -32): [Local(ExitZone)],
  (x: 51, y: -31): [Local(ExitZone)],
  (x: 51, y: -30): [Local(ExitZone)],
  (x: 52, y: -38): [Local(ExitZone)],
  (x: 52, y: -37): [Local(ExitZone)],
  (x: 52, y: -36): [Local(ExitZone)],
  (x: 52, y: -35): [Local(ExitZone)],
  (x: 52, y: -34): [Local(ExitZone)],
  (x: 52, y: -33): [Local(ExitZone)],
  (x: 52, y: -32): [Local(ExitZone)],
  (x: 52, y: -31): [Local(ExitZone)],
  (x: 52, y: -30): [Local(ExitZone)],
  (x: 53, y: -38): [Local(ExitZone)],
  (x: 53, y: -37): [Local(ExitZone)],
  (x: 53, y: -36): [Local(ExitZone)],
  (x: 53, y: -35): [Local(ExitZone)],
  (x: 53, y: -34): [Local(ExitZone)],
  (x: 53, y: -33): [Local(ExitZone)],
  (x: 53, y: -32): [Local(ExitZone)],
  (x: 53, y: -31): [Local(ExitZone)],
  (x: 53, y: -30): [Local(ExitZone)],
  (x: 54, y: -38): [Local(ExitZone)],
  (x: 54, y: -37): [Local(ExitZone)],
  (x: 54, y: -36): [Local(ExitZone)],
  (x: 54, y: -35): [Local(ExitZone)],
  (x: 54, y: -34): [Local(ExitZone)],
  (x: 54, y: -33): [Local(ExitZone)],
  (x: 54, y: -32): [Local(ExitZone)],
  (x: 54, y: -31): [Local(ExitZone)],
  (x: 54, y: -30): [Local(ExitZone)],
  (x: 55, y: -38): [Local(ExitZone)],
  (x: 55, y: -37): [Local(ExitZone)],
  (x: 55, y: -36): [Local(ExitZone)],
  (x: 55, y: -35): [Local(ExitZone)],
  (x: 55, y: -34): [Local(ExitZone)],
  (x: 55, y: -33): [Local(ExitZone)],
  (x: 55, y: -32): [Local(ExitZone)],
  (x: 55, y: -31): [Local(ExitZone)],
  (x: 55, y: -30): [Local(ExitZone)],
  (x: 56, y: -38): [Local(ExitZone)],
  (x: 56, y: -37): [Local(ExitZone)],
  (x: 56, y: -36): [Local(ExitZone)],
  (x: 56, y: -35): [Local(ExitZone)],
  (x: 56, y: -34): [Local(ExitZone)],
  (x: 56, y: -33): [Local(ExitZone)],
  (x: 56, y: -32): [Local(ExitZone)],
  (x: 56, y: -31): [Local(ExitZone)],
  (x: 56, y: -30): [Local(ExitZone)],
  (x: 57, y: -38): [Local(ExitZone)],
  (x: 57, y: -37): [Local(ExitZone)],
  (x: 57, y: -36): [Local(ExitZone)],
  (x: 57, y: -35): [Local(ExitZone)],
  (x: 57, y: -34): [Local(ExitZone)],
  (x: 57, y: -33): [Local(ExitZone)],
  (x: 57, y: -32): [Local(ExitZone)],
  (x: 57, y: -31): [Local(ExitZone)],
  (x: 57, y: -30): [Local(ExitZone)],
  (x: 58, y: -38): [Local(ExitZone)],
  (x: 58, y: -37): [Local(ExitZone)],
  (x: 58, y: -36): [Local(ExitZone)],
  (x: 58, y: -35): [Local(ExitZone)],
  (x: 58, y: -34): [Local(ExitZone)],
  (x: 58, y: -33): [Local(ExitZone)],
  (x: 58, y: -32): [Local(ExitZone)],
  (x: 58, y: -31): [Local(ExitZone)],
  (x: 58, y: -30): [Local(ExitZone)],
  (x: 59, y: -38): [Local(ExitZone)],
  (x: 59, y: -37): [Local(ExitZone)],
  (x: 59, y: -36): [Local(ExitZone)],
  (x: 59, y: -35): [Local(ExitZone)],
  (x: 59, y: -34): [Local(ExitZone)],
  (x: 59, y: -33): [Local(ExitZone)],
  (x: 59, y: -32): [Local(ExitZone)],
  (x: 59, y: -31): [Local(ExitZone)],
  (x: 59, y: -30): [Local(ExitZone)],
  (x: 60, y: -38): [Local(ExitZone)],
  (x: 60, y: -37): [Local(ExitZone)],
  (x: 60, y: -36): [Local(ExitZone)],
  (x: 60, y: -35): [Local(ExitZone)],
  (x: 60, y: -34): [Local(ExitZone)],
  (x: 60, y: -33): [Local(ExitZone)],
  (x: 60, y: -32): [Local(ExitZone)],
  (x: 60, y: -31): [Local(ExitZone)],
  (x: 60, y: -30): [Local(ExitZone)],
  (x: 61, y: -38): [Local(ExitZone)],
  (x: 61, y: -37): [Local(ExitZone)],
  (x: 61, y: -36): [Local(ExitZone)],
  (x: 61, y: -35): [Local(ExitZone)],
  (x: 61, y: -34): [Local(ExitZone)],
  (x: 61, y: -33): [Local(ExitZone)],
  (x: 61, y: -32): [Local(ExitZone)],
  (x: 61, y: -31): [Local(ExitZone)],
  (x: 61, y: -30): [Local(ExitZone)],
  (x: 62, y: -38): [Local(ExitZone)],
  (x: 62, y: -37): [Local(ExitZone)],
  (x: 62, y: -36): [Local(ExitZone)],
  (x: 62, y: -35): [Local(ExitZone)],
  (x: 62, y: -34): [Local(ExitZone)],
  (x: 62, y: -33): [Local(ExitZone)],
  (x: 62, y: -32): [Local(ExitZone)],
  (x: 62, y: -31): [Local(ExitZone)],
  (x: 62, y: -30): [Local(ExitZone)],
 },
)