(
 zones: (
  inner: {Zone(Exit): (zone_group: (18), zone_size: 153, zone_successors: [])},
 ),
 squares: {
  (x: -43, y: -19): [Empty, Trail],
  (x: -43, y: -18): [Empty, Trail],
  (x: -43, y: -17): [Empty, Trail],
  (x: -43, y: -16): [Empty, Trail],
  (x: -43, y: -15): [Empty, Trail],
  (x: -43, y: -14): [Empty, Trail],
  (x: -43, y: -13): [Empty, Trail],
  (x: -43, y: -12): [Empty, Trail],
  (x: -43, y: -11): [Empty, Trail],
  (x: -43, y: -10): [Empty, Trail],
  (x: -43, y: -9): [Empty, Trail],
  (x: -43, y: -8): [Empty, Trail],
  (x: -43, y: -7): [Empty, Trail],
  (x: -43, y: -6): [Empty, Trail],
  (x: -43, y: -5): [Empty, Trail],
  (x: -43, y: -4): [Empty, Trail],
  (x: -43, y: -3): [Empty, Trail],
  (x: -43, y: -2): [Empty, Trail],
  (x: -43, y: -1): [Empty, Trail],
  (x: -43, y: 0): [Empty, Trail],
  (x: -43, y: 1): [Empty, Trail],
  (x: -43, y: 2): [Empty, Trail],
  (x: -43, y: 3): [Empty, Trail],
  (x: -43, y: 4): [Empty, Trail],
  (x: -43, y: 5): [Empty, Trail],
  (x: -43, y: 6): [Empty, Trail],
  (x: -43, y: 7): [Empty, Trail],
  (x: -43, y: 8): [Empty, Trail],
  (x: -43, y: 9): [Empty, Trail],
  (x: -43, y: 10): [Empty, Trail],
  (x: -43, y: 11): [Empty, Trail],
  (x: -43, y: 12): [Empty, Trail],
  (x: -43, y: 13): [Empty, Trail],
  (x: -43, y: 14): [Empty, Trail],
  (x: -43, y: 15): [Empty, Trail],
  (x: -43, y: 16): [Empty, Trail],
  (x: -43, y: 17): [Empty, Trail],
  (x: -43, y: 18): [Empty, Trail],
  (x: -43, y: 19): [Empty, Trail],
  (x: -43, y: 20): [Empty, Trail],
  (x: -43, y: 21): [Empty, Trail],
  (x: -42, y: -19): [Empty, Trail],
  (x: -42, y: 21): [Empty, Trail],
  (x: -41, y: -19): [Empty, Trail],
  (x: -41, y: 21): [Empty, Trail],
  (x: -40, y: -19): [Empty, Trail],
  (x: -40, y: 21): [Empty, Trail],
  (x: -39, y: -19): [Empty, Trail],
  (x: -39, y: 21): [Empty, Trail],
  (x: -38, y: -19): [Empty, Trail],
  (x: -38, y: 21): [Empty, Trail],
  (x: -37, y: -19): [Empty, Trail],
  (x: -37, y: 21): [Empty, Trail],
  (x: -36, y: -19): [Empty, Trail],
  (x: -36, y: 21): [Empty, Trail],
  (x: -35, y: -19): [Empty, Trail],
  (x: -35, y: 21): [Empty, Trail],
  (x: -34, y: -19): [Empty, Trail],
  (x: -34, y: 21): [Empty, Trail],
  (x: -33, y: -19): [Empty, Trail],
  (x: -33, y: 21): [Empty, Trail],
  (x: -32, y: -19): [Empty, Trail],
  (x: -32, y: 21): [Empty, Trail],
  (x: -31, y: -19): [Empty, Trail],
  (x: -31, y: 21): [Empty, Trail],
  (x: -30, y: -19): [Empty, Trail],
  (x: -30, y: 21): [Empty, Trail],
  (x: -29, y: -19): [Empty, Trail],
  (x: -29, y: 21): [Empty, Trail],
  (x: -28, y: -19): [Empty, Trail],
  (x: -28, y: 21): [Empty, Trail],
  (x: -27, y: -19): [Empty, Trail],
  (x: -27, y: 21): [Empty, Trail],
  (x: -26, y: -19): [Empty, Trail],
  (x: -26, y: 21): [Empty, Trail],
  (x: -25, y: -19): [Empty, Trail],
  (x: -25, y: 21): [Empty, Trail],
  (x: -24, y: -19): [Empty, Trail],
  (x: -24, y: 21): [Empty, Trail],
  (x: -23, y: -19): [Empty, Trail],
  (x: -23, y: 21): [Empty, Trail],
  (x: -22, y: -19): [Empty, Trail],
  (x: -22, y: -18): [Empty, Trail],
  (x: -22, y: -17): [Empty, Trail],
  (x: -22, y: -16): [Empty, Trail],
  (x: -22, y: -15): [Empty, Trail],
  (x: -22, y: -14): [Empty, Trail],
  (x: -22, y: -13): [Empty, Trail],
  (x: -22, y: -12): [Empty, Trail],
  (x: -22, y: -11): [Empty, Trail],
  (x: -22, y: -10): [Empty, Trail],
  (x: -22, y: -9): [Empty, Trail],
  (x: -22, y: -8): [Empty, Trail],
  (x: -22, y: -7): [Empty, Trail],
  (x: -22, y: -6): [Empty, Trail],
  (x: -22, y: -5): [Empty, Trail],
  (x: -22, y: -4): [Empty, Trail],
  (x: -22, y: -3): [Empty, Trail],
  (x: -22, y: -2): [Empty, Trail],
  (x: -22, y: -1): [Empty, Trail],
  (x: -22, y: 0): [Empty, Trail],
  (x: -22, y: 1): [Empty, Trail],
  (x: -22, y: 2): [Empty, Trail],
  (x: -22, y: 3): [Empty, Trail],
  (x: -22, y: 4): [Empty, Trail],
  (x: -22, y: 5): [Empty, Trail],
  (x: -22, y: 6): [Empty, Trail],
  (x: -22, y: 7): [Empty, Trail],
  (x: -22, y: 8): [Empty, Trail],
  (x: -22, y: 9): [Empty, Trail],
  (x: -22, y: 10): [Empty, Trail],
  (x: -22, y: 11): [Empty, Trail],
  (x: -22, y: 12): [Empty, Trail],
  (x: -22, y: 13): [Empty, Trail],
  (x: -22, y: 14): [Empty, Trail],
  (x: -22, y: 15): [Empty, Trail],
  (x: -22, y: 16): [Empty, Trail],
  (x: -22, y: 17): [Empty, Trail],
  (x: -22, y: 18): [Empty, Trail],
  (x: -22, y: 19): [Empty, Trail],
  (x: -22, y: 20): [Empty, Trail],
  (x: -22, y: 21): [Empty, Trail],
  (x: -21, y: -19): [Empty, Trail],
  (x: -21, y: 21): [Empty, Trail],
  (x: -20, y: -19): [Empty, Trail],
  (x: -20, y: 21): [Empty, Trail],
  (x: -19, y: -19): [Empty, Trail],
  (x: -19, y: 21): [Empty, Trail],
  (x: -18, y: -19): [Empty, Trail],
  (x: -18, y: 21): [Empty, Trail],
  (x: -17, y: -19): [Empty, Trail],
  (x: -17, y: 21): [Empty, Trail],
  (x: -16, y: -19): [Empty, Trail],
  (x: -16, y: 21): [Empty, Trail],
  (x: -15, y: -19): [Empty, Trail],
  (x: -15, y: 21): [Empty, Trail],
  (x: -14, y: -19): [Empty, Trail],
  (x: -14, y: 21): [Empty, Trail],
  (x: -13, y: -19): [Empty, Trail],
  (x: -13, y: 21): [Empty, Trail],
  (x: -12, y: -19): [Empty, Trail],
  (x: -12, y: 21): [Empty, Trail],
  (x: -11, y: -19): [Empty, Trail],
  (x: -11, y: 21): [Empty, Trail],
  (x: -10, y: -19): [Empty, Trail],
  (x: -10, y: 21): [Empty, Trail],
  (x: -9, y: -19): [Empty, Trail],
  (x: -9, y: 21): [Empty, Trail],
  (x: -8, y: -19): [Empty, Trail],
  (x: -8, y: 21): [Empty, Trail],
  (x: -7, y: -19): [Empty, Trail],
  (x: -7, y: 21): [Empty, Trail],
  (x: -6, y: -19): [Empty, Trail],
  (x: -6, y: 21): [Empty, Trail],
  (x: -5, y: -19): [Empty, Trail],
  (x: -5, y: 21): [Empty, Trail],
  (x: -4, y: -19): [Empty, Trail],
  (x: -4, y: 21): [Empty, Trail],
  (x: -3, y: -19): [Empty, Trail],
  (x: -3, y: 21): [Empty, Trail],
  (x: -2, y: -19): [Empty, Trail],
  (x: -2, y: 21): [Empty, Trail],
  (x: -1, y: -19): [Empty, Trail],
  (x: -1, y: 21): [Empty, Trail],
  (x: 0, y: -19): [Empty, Trail],
  (x: 0, y: 21): [Empty, Trail],
  (x: 1, y: -19): [Empty, Trail],
  (x: 1, y: 21): [Empty, Trail],
  (x: 2, y: -19): [Empty, Trail],
  (x: 2, y: 21): [Empty, Trail],
  (x: 3, y: -19): [Empty, Trail],
  (x: 3, y: -18): [Empty, Trail],
  (x: 3, y: -17): [Empty, Trail],
  (x: 3, y: -16): [Empty, Trail],
  (x: 3, y: -15): [Empty, Trail],
  (x: 3, y: -14): [Empty, Trail],
  (x: 3, y: -13): [Empty, Trail],
  (x: 3, y: -12): [Empty, Trail],
  (x: 3, y: -11): [Empty, Trail],
  (x: 3, y: -10): [Empty, Trail],
  (x: 3, y: -9): [Empty, Trail],
  (x: 3, y: -8): [Empty, Trail],
  (x: 3, y: -7): [Empty, Trail],
  (x: 3, y: -6): [Empty, Trail],
  (x: 3, y: -5): [Empty, Trail],
  (x: 3, y: -4): [Empty, Trail],
  (x: 3, y: -3): [Empty, Trail],
  (x: 3, y: -2): [Empty, Trail],
  (x: 3, y: -1): [Empty, Trail],
  (x: 3, y: 0): [Empty, Trail],
  (x: 3, y: 1): [Empty, Trail],
  (x: 3, y: 2): [Empty, Trail],
  (x: 3, y: 3): [Empty, Trail],
  (x: 3, y: 4): [Empty, Trail],
  (x: 3, y: 5): [Empty, Trail],
  (x: 3, y: 6): [Empty, Trail],
  (x: 3, y: 7): [Empty, Trail],
  (x: 3, y: 8): [Empty, Trail],
  (x: 3, y: 9): [Empty, Trail],
  (x: 3, y: 10): [Empty, Trail],
  (x: 3, y: 11): [Empty, Trail],
  (x: 3, y: 12): [Empty, Trail],
  (x: 3, y: 13): [Empty, Trail],
  (x: 3, y: 14): [Empty, Trail],
  (x: 3, y: 15): [Empty, Trail],
  (x: 3, y: 16): [Empty, Trail],
  (x: 3, y: 17): [Empty, Trail],
  (x: 3, y: 18): [Empty, Trail],
  (x: 3, y: 19): [Empty, Trail],
  (x: 3, y: 20): [Empty, Trail],
  (x: 3, y: 21): [Empty, Trail],
  (x: 4, y: -19): [Empty, Trail],
  (x: 4, y: 21): [Empty, Trail],
  (x: 5, y: -19): [Empty, Trail],
  (x: 5, y: 21): [Empty, Trail],
  (x: 6, y: -19): [Empty, Trail],
  (x: 6, y: 21): [Empty, Trail],
  (x: 7, y: -19): [Empty, Trail],
  (x: 7, y: 21): [Empty, Trail],
  (x: 8, y: -19): [Empty, Trail],
  (x: 8, y: 21): [Empty, Trail],
  (x: 9, y: -19): [Empty, Trail],
  (x: 9, y: 21): [Empty, Trail],
  (x: 10, y: -19): [Empty, Trail],
  (x: 10, y: 21): [Empty, Trail],
  (x: 11, y: -19): [Empty, Trail],
  (x: 11, y: 21): [Empty, Trail],
  (x: 12, y: -19): [Empty, Trail],
  (x: 12, y: 21): [Empty, Trail],
  (x: 13, y: -19): [Empty, Trail],
  (x: 13, y: 21): [Empty, Trail],
  (x: 14, y: -19): [Empty, Trail],
  (x: 14, y: 21): [Empty, Trail],
  (x: 15, y: -19): [Empty, Trail],
  (x: 15, y: 21): [Empty, Trail],
  (x: 16, y: -19): [Empty, Trail],
  (x: 16, y: 21): [Empty, Trail],
  (x: 17, y: -19): [Empty, Trail],
  (x: 17, y: 21): [Empty, Trail],
  (x: 18, y: -19): [Empty, Trail],
  (x: 18, y: 21): [Empty, Trail],
  (x: 19, y: -19): [Empty, Trail],
  (x: 19, y: 21): [Empty, Trail],
  (x: 20, y: -19): [Empty, Trail],
  (x: 20, y: 21): [Empty, Trail],
  (x: 21, y: -19): [Empty, Trail],
  (x: 21, y: 21): [Empty, Trail],
  (x: 22, y: -19): [Empty, Trail],
  (x: 22, y: 21): [Empty, Trail],
  (x: 23, y: -19): [Empty, Trail],
  (x: 23, y: 21): [Empty, Trail],
  (x: 24, y: -19): [Empty, Trail],
  (x: 24, y: -18): [Empty, Trail],
  (x: 24, y: -17): [Empty, Trail],
  (x: 24, y: -16): [Empty, Trail],
  (x: 24, y: -15): [Empty, Trail],
  (x: 24, y: -14): [Empty, Trail],
  (x: 24, y: -13): [Empty, Trail],
  (x: 24, y: -12): [Empty, Trail],
  (x: 24, y: -11): [Empty, Trail],
  (x: 24, y: -10): [Empty, Trail],
  (x: 24, y: -9): [Empty, Trail],
  (x: 24, y: -8): [Empty, Trail],
  (x: 24, y: -7): [Empty, Trail],
  (x: 24, y: -6): [Empty, Trail],
  (x: 24, y: -5): [Empty, Trail],
  (x: 24, y: -4): [Empty, Trail],
  (x: 24, y: -3): [Empty, Trail],
  (x: 24, y: -2): [Empty, Trail],
  (x: 24, y: -1): [Empty, Trail],
  (x: 24, y: 0): [Empty, Trail],
  (x: 24, y: 1): [Empty, Trail],
  (x: 24, y: 2): [Empty, Trail],
  (x: 24, y: 3): [Empty, Trail],
  (x: 24, y: 4): [Empty, Trail],
  (x: 24, y: 5): [Empty, Trail],
  (x: 24, y: 6): [Empty, Trail],
  (x: 24, y: 7): [Empty, Trail],
  (x: 24, y: 8): [Empty, Trail],
  (x: 24, y: 9): [Empty, Trail],
  (x: 24, y: 10): [Empty, Trail],
  (x: 24, y: 11): [Empty, Trail],
  (x: 24, y: 12): [Empty, Trail],
  (x: 24, y: 13): [Empty, Trail],
  (x: 24, y: 14): [Empty, Trail],
  (x: 24, y: 15): [Empty, Trail],
  (x: 24, y: 16): [Empty, Trail],
  (x: 24, y: 17): [Empty, Trail],
  (x: 24, y: 18): [Empty, Trail],
  (x: 24, y: 19): [Empty, Trail],
  (x: 24, y: 20): [Empty, Trail],
  (x: 24, y: 21): [Empty, Trail],
  (x: 25, y: -5): [Empty, Trail],
  (x: 25, y: 21): [Empty, Trail],
  (x: 26, y: -5): [Empty, Trail],
  (x: 26, y: 21): [Empty, Trail],
  (x: 27, y: -5): [Empty, Trail],
  (x: 27, y: 21): [Empty, Trail],
  (x: 28, y: -5): [Empty, Trail],
  (x: 28, y: 21): [Empty, Trail],
  (x: 29, y: -5): [Empty, Trail],
  (x: 29, y: 21): [Empty, Trail],
  (x: 30, y: -5): [Empty, Trail],
  (x: 30, y: 21): [Empty, Trail],
  (x: 31, y: -5): [Empty, Trail],
  (x: 31, y: 21): [Empty, Trail],
  (x: 32, y: -5): [Empty, Trail],
  (x: 32, y: 21): [Empty, Trail],
  (x: 33, y: -5): [Empty, Trail],
  (x: 33, y: 21): [Empty, Trail],
  (x: 34, y: -5): [Empty, Trail],
  (x: 34, y: 21): [Empty, Trail],
  (x: 35, y: -5): [Empty, Trail],
  (x: 35, y: 21): [Empty, Trail],
  (x: 36, y: -5): [Empty, Trail],
  (x: 36, y: 21): [Empty, Trail],
  (x: 37, y: -5): [Empty, Trail],
  (x: 37, y: 21): [Empty, Trail],
  (x: 38, y: -5): [Empty, Trail],
  (x: 38, y: 21): [Empty, Trail],
  (x: 39, y: -5): [Empty, Trail],
  (x: 39, y: 21): [Empty, Trail],
  (x: 40, y: -5): [Empty, Trail],
  (x: 40, y: 21): [Empty, Trail],
  (x: 41, y: -5): [Empty, Trail],
  (x: 41, y: 21): [Empty, Trail],
  (x: 42, y: -5): [Empty, Trail],
  (x: 42, y: 21): [Empty, Trail],
  (x: 43, y: -5): [Empty, Trail],
  (x: 43, y: 21): [Empty, Trail],
  (x: 44, y: -5): [Empty, Trail],
  (x: 44, y: 21): [Empty, Trail],
  (x: 45, y: -5): [Empty, Trail],
  (x: 45, y: 21): [Empty, Trail],
  (x: 46, y: -38): [Zone(Exit)],
  (x: 46, y: -37): [Zone(Exit)],
  (x: 46, y: -36): [Zone(Exit)],
  (x: 46, y: -35): [Zone(Exit)],
  (x: 46, y: -34): [Zone(Exit)],
  (x: 46, y: -33): [Zone(Exit)],
  (x: 46, y: -32): [Zone(Exit)],
  (x: 46, y: -31): [Zone(Exit)],
  (x: 46, y: -30): [Zone(Exit)],
  (x: 46, y: -5): [Empty, Trail],
  (x: 46, y: 21): [Empty, Trail],
  (x: 47, y: -38): [Zone(Exit)],
  (x: 47, y: -37): [Zone(Exit)],
  (x: 47, y: -36): [Zone(Exit)],
  (x: 47, y: -35): [Zone(Exit)],
  (x: 47, y: -34): [Zone(Exit)],
  (x: 47, y: -33): [Zone(Exit)],
  (x: 47, y: -32): [Zone(Exit)],
  (x: 47, y: -31): [Zone(Exit)],
  (x: 47, y: -30): [Zone(Exit)],
  (x: 47, y: -5): [Empty, Trail],
  (x: 47, y: 21): [Empty, Trail],
  (x: 48, y: -38): [Zone(Exit)],
  (x: 48, y: -37): [Zone(Exit)],
  (x: 48, y: -36): [Zone(Exit)],
  (x: 48, y: -35): [Zone(Exit)],
  (x: 48, y: -34): [Zone(Exit)],
  (x: 48, y: -33): [Zone(Exit)],
  (x: 48, y: -32): [Zone(Exit)],
  (x: 48, y: -31): [Zone(Exit)],
  (x: 48, y: -30): [Zone(Exit)],
  (x: 48, y: -5): [Empty, Trail],
  (x: 48, y: 21): [Empty, Trail],
  (x: 49, y: -38): [Zone(Exit)],
  (x: 49, y: -37): [Zone(Exit)],
  (x: 49, y: -36): [Zone(Exit)],
  (x: 49, y: -35): [Zone(Exit)],
  (x: 49, y: -34): [Zone(Exit)],
  (x: 49, y: -33): [Zone(Exit)],
  (x: 49, y: -32): [Zone(Exit)],
  (x: 49, y: -31): [Zone(Exit)],
  (x: 49, y: -30): [Zone(Exit)],
  (x: 49, y: -5): [Empty, Trail],
  (x: 49, y: 21): [Empty, Trail],
  (x: 50, y: -38): [Zone(Exit)],
  (x: 50, y: -37): [Zone(Exit)],
  (x: 50, y: -36): [Zone(Exit)],
  (x: 50, y: -35): [Zone(Exit)],
  (x: 50, y: -34): [Zone(Exit)],
  (x: 50, y: -33): [Zone(Exit)],
  (x: 50, y: -32): [Zone(Exit)],
  (x: 50, y: -31): [Zone(Exit)],
  (x: 50, y: -30): [Zone(Exit)],
  (x: 50, y: -5): [Empty, Trail],
  (x: 50, y: 21): [Empty, Trail],
  (x: 51, y: -38): [Zone(Exit)],
  (x: 51, y: -37): [Zone(Exit)],
  (x: 51, y: -36): [Zone(Exit)],
  (x: 51, y: -35): [Zone(Exit)],
  (x: 51, y: -34): [Zone(Exit)],
  (x: 51, y: -33): [Zone(Exit)],
  (x: 51, y: -32): [Zone(Exit)],
  (x: 51, y: -31): [Zone(Exit)],
  (x: 51, y: -30): [Zone(Exit)],
  (x: 51, y: -5): [Empty, Trail],
  (x: 51, y: 21): [Empty, Trail],
  (x: 52, y: -38): [Zone(Exit)],
  (x: 52, y: -37): [Zone(Exit)],
  (x: 52, y: -36): [Zone(Exit)],
  (x: 52, y: -35): [Zone(Exit)],
  (x: 52, y: -34): [Zone(Exit)],
  (x: 52, y: -33): [Zone(Exit)],
  (x: 52, y: -32): [Zone(Exit)],
  (x: 52, y: -31): [Zone(Exit)],
  (x: 52, y: -30): [Zone(Exit)],
  (x: 52, y: -5): [Empty, Trail],
  (x: 52, y: 21): [Empty, Trail],
  (x: 53, y: -38): [Zone(Exit)],
  (x: 53, y: -37): [Zone(Exit)],
  (x: 53, y: -36): [Zone(Exit)],
  (x: 53, y: -35): [Zone(Exit)],
  (x: 53, y: -34): [Zone(Exit)],
  (x: 53, y: -33): [Zone(Exit)],
  (x: 53, y: -32): [Zone(Exit)],
  (x: 53, y: -31): [Zone(Exit)],
  (x: 53, y: -30): [Zone(Exit)],
  (x: 53, y: -5): [Empty, Trail],
  (x: 53, y: 21): [Empty, Trail],
  (x: 54, y: -38): [Zone(Exit)],
  (x: 54, y: -37): [Zone(Exit)],
  (x: 54, y: -36): [Zone(Exit)],
  (x: 54, y: -35): [Zone(Exit)],
  (x: 54, y: -34): [Zone(Exit)],
  (x: 54, y: -33): [Zone(Exit)],
  (x: 54, y: -32): [Zone(Exit)],
  (x: 54, y: -31): [Zone(Exit)],
  (x: 54, y: -30): [Zone(Exit)],
  (x: 54, y: -5): [Empty, Trail],
  (x: 54, y: 21): [Empty, Trail],
  (x: 55, y: -38): [Zone(Exit)],
  (x: 55, y: -37): [Zone(Exit)],
  (x: 55, y: -36): [Zone(Exit)],
  (x: 55, y: -35): [Zone(Exit)],
  (x: 55, y: -34): [Zone(Exit)],
  (x: 55, y: -33): [Zone(Exit)],
  (x: 55, y: -32): [Zone(Exit)],
  (x: 55, y: -31): [Zone(Exit)],
  (x: 55, y: -30): [Zone(Exit)],
  (x: 55, y: -5): [Empty, Trail],
  (x: 55, y: 21): [Empty, Trail],
  (x: 56, y: -38): [Zone(Exit)],
  (x: 56, y: -37): [Zone(Exit)],
  (x: 56, y: -36): [Zone(Exit)],
  (x: 56, y: -35): [Zone(Exit)],
  (x: 56, y: -34): [Zone(Exit)],
  (x: 56, y: -33): [Zone(Exit)],
  (x: 56, y: -32): [Zone(Exit)],
  (x: 56, y: -31): [Zone(Exit)],
  (x: 56, y: -30): [Zone(Exit)],
  (x: 56, y: -5): [Empty, Trail],
  (x: 56, y: 21): [Empty, Trail],
  (x: 57, y: -38): [Zone(Exit)],
  (x: 57, y: -37): [Zone(Exit)],
  (x: 57, y: -36): [Zone(Exit)],
  (x: 57, y: -35): [Zone(Exit)],
  (x: 57, y: -34): [Zone(Exit)],
  (x: 57, y: -33): [Zone(Exit)],
  (x: 57, y: -32): [Zone(Exit)],
  (x: 57, y: -31): [Zone(Exit)],
  (x: 57, y: -30): [Zone(Exit)],
  (x: 57, y: -5): [Empty, Trail],
  (x: 57, y: 21): [Empty, Trail],
  (x: 58, y: -38): [Zone(Exit)],
  (x: 58, y: -37): [Zone(Exit)],
  (x: 58, y: -36): [Zone(Exit)],
  (x: 58, y: -35): [Zone(Exit)],
  (x: 58, y: -34): [Zone(Exit)],
  (x: 58, y: -33): [Zone(Exit)],
  (x: 58, y: -32): [Zone(Exit)],
  (x: 58, y: -31): [Zone(Exit)],
  (x: 58, y: -30): [Zone(Exit)],
  (x: 58, y: -5): [Empty, Trail],
  (x: 58, y: -4): [Empty, Trail],
  (x: 58, y: -3): [Empty, Trail],
  (x: 58, y: -2): [Empty, Trail],
  (x: 58, y: -1): [Empty, Trail],
  (x: 58, y: 0): [Empty, Trail],
  (x: 58, y: 1): [Empty, Trail],
  (x: 58, y: 2): [Empty, Trail],
  (x: 58, y: 3): [Empty, Trail],
  (x: 58, y: 4): [Empty, Trail],
  (x: 58, y: 5): [Empty, Trail],
  (x: 58, y: 6): [Empty, Trail],
  (x: 58, y: 7): [Empty, Trail],
  (x: 58, y: 8): [Empty, Trail],
  (x: 58, y: 9): [Empty, Trail],
  (x: 58, y: 10): [Empty, Trail],
  (x: 58, y: 11): [Empty, Trail],
  (x: 58, y: 12): [Empty, Trail],
  (x: 58, y: 13): [Empty, Trail],
  (x: 58, y: 14): [Empty, Trail],
  (x: 58, y: 15): [Empty, Trail],
  (x: 58, y: 16): [Empty, Trail],
  (x: 58, y: 17): [Empty, Trail],
  (x: 58, y: 18): [Empty, Trail],
  (x: 58, y: 19): [Empty, Trail],
  (x: 58, y: 20): [Empty, Trail],
  (x: 58, y: 21): [Empty, Trail],
  (x: 59, y: -38): [Zone(Exit)],
  (x: 59, y: -37): [Zone(Exit)],
  (x: 59, y: -36): [Zone(Exit)],
  (x: 59, y: -35): [Zone(Exit)],
  (x: 59, y: -34): [Zone(Exit)],
  (x: 59, y: -33): [Zone(Exit)],
  (x: 59, y: -32): [Zone(Exit)],
  (x: 59, y: -31): [Zone(Exit)],
  (x: 59, y: -30): [Zone(Exit)],
  (x: 60, y: -38): [Zone(Exit)],
  (x: 60, y: -37): [Zone(Exit)],
  (x: 60, y: -36): [Zone(Exit)],
  (x: 60, y: -35): [Zone(Exit)],
  (x: 60, y: -34): [Zone(Exit)],
  (x: 60, y: -33): [Zone(Exit)],
  (x: 60, y: -32): [Zone(Exit)],
  (x: 60, y: -31): [Zone(Exit)],
  (x: 60, y: -30): [Zone(Exit)],
  (x: 61, y: -38): [Zone(Exit)],
  (x: 61, y: -37): [Zone(Exit)],
  (x: 61, y: -36): [Zone(Exit)],
  (x: 61, y: -35): [Zone(Exit)],
  (x: 61, y: -34): [Zone(Exit)],
  (x: 61, y: -33): [Zone(Exit)],
  (x: 61, y: -32): [Zone(Exit)],
  (x: 61, y: -31): [Zone(Exit)],
  (x: 61, y: -30): [Zone(Exit)],
  (x: 62, y: -38): [Zone(Exit)],
  (x: 62, y: -37): [Zone(Exit)],
  (x: 62, y: -36): [Zone(Exit)],
  (x: 62, y: -35): [Zone(Exit)],
  (x: 62, y: -34): [Zone(Exit)],
  (x: 62, y: -33): [Zone(Exit)],
  (x: 62, y: -32): [Zone(Exit)],
  (x: 62, y: -31): [Zone(Exit)],
  (x: 62, y: -30): [Zone(Exit)],
 },
)