(
 squares: {
  (x: 45, y: -36): [Wall],
  (x: 46, y: -36): [Wall],
  (x: 47, y: -36): [Wall],
  (x: 48, y: -36): [Wall],
  (x: 49, y: -36): [Wall],
  (x: 50, y: -36): [Wall],
  (x: 51, y: -36): [Wall],
  (x: 52, y: -36): [Wall],
  (x: 53, y: -36): [Wall],
  (x: 54, y: -36): [Wall],
  (x: 55, y: -36): [Wall],
  (x: 56, y: -36): [Wall],
  (x: 57, y: -36): [Wall],
  (x: 58, y: -36): [Wall],
  (x: 59, y: -42): [Local(ExitZone)],
  (x: 59, y: -41): [Local(ExitZone)],
  (x: 59, y: -40): [Local(ExitZone)],
  (x: 59, y: -39): [Local(ExitZone)],
  (x: 59, y: -38): [Local(ExitZone)],
  (x: 59, y: -37): [Local(ExitZone)],
  (x: 59, y: -36): [Wall],
  (x: 60, y: -42): [Local(ExitZone)],
  (x: 60, y: -41): [Local(ExitZone)],
  (x: 60, y: -40): [Local(ExitZone)],
  (x: 60, y: -39): [Local(ExitZone)],
  (x: 60, y: -38): [Local(ExitZone)],
  (x: 60, y: -37): [Local(ExitZone)],
  (x: 60, y: -36): [Wall],
  (x: 61, y: -42): [Local(ExitZone)],
  (x: 61, y: -41): [Local(ExitZone)],
  (x: 61, y: -40): [Local(ExitZone)],
  (x: 61, y: -39): [Local(ExitZone)],
  (x: 61, y: -38): [Local(ExitZone)],
  (x: 61, y: -37): [Local(ExitZone)],
  (x: 61, y: -36): [Wall],
  (x: 62, y: -42): [Local(ExitZone)],
  (x: 62, y: -41): [Local(ExitZone)],
  (x: 62, y: -40): [Local(ExitZone)],
  (x: 62, y: -39): [Local(ExitZone)],
  (x: 62, y: -38): [Local(ExitZone)],
  (x: 62, y: -37): [Local(ExitZone)],
  (x: 62, y: -36): [Wall],
  (x: 63, y: -42): [Local(ExitZone)],
  (x: 63, y: -41): [Local(ExitZone)],
  (x: 63, y: -40): [Local(ExitZone)],
  (x: 63, y: -39): [Local(ExitZone)],
  (x: 63, y: -38): [Local(ExitZone)],
  (x: 63, y: -37): [Local(ExitZone)],
  (x: 63, y: -36): [Wall],
  (x: 64, y: -42): [Local(ExitZone)],
  (x: 64, y: -41): [Local(ExitZone)],
  (x: 64, y: -40): [Local(ExitZone)],
  (x: 64, y: -39): [Local(ExitZone)],
  (x: 64, y: -38): [Local(ExitZone)],
  (x: 64, y: -37): [Local(ExitZone)],
  (x: 64, y: -36): [Wall],
  (x: 65, y: -42): [Local(ExitZone)],
  (x: 65, y: -41): [Local(ExitZone)],
  (x: 65, y: -40): [Local(ExitZone)],
  (x: 65, y: -39): [Local(ExitZone)],
  (x: 65, y: -38): [Local(ExitZone)],
  (x: 65, y: -37): [Local(ExitZone)],
  (x: 65, y: -36): [Wall],
  (x: 66, y: -42): [Local(ExitZone)],
  (x: 66, y: -41): [Local(ExitZone)],
  (x: 66, y: -40): [Local(ExitZone)],
  (x: 66, y: -39): [Local(ExitZone)],
  (x: 66, y: -38): [Local(ExitZone)],
  (x: 66, y: -37): [Local(ExitZone)],
  (x: 66, y: -36): [Wall],
  (x: 67, y: -42): [Local(ExitZone)],
  (x: 67, y: -41): [Local(ExitZone)],
  (x: 67, y: -40): [Local(ExitZone)],
  (x: 67, y: -39): [Local(ExitZone)],
  (x: 67, y: -38): [Local(ExitZone)],
  (x: 67, y: -37): [Local(ExitZone)],
  (x: 67, y: -36): [Wall],
  (x: 68, y: -42): [Local(ExitZone)],
  (x: 68, y: -41): [Local(ExitZone)],
  (x: 68, y: -40): [Local(ExitZone)],
  (x: 68, y: -39): [Local(ExitZone)],
  (x: 68, y: -38): [Local(ExitZone)],
  (x: 68, y: -37): [Local(ExitZone)],
  (x: 68, y: -36): [Wall],
  (x: 69, y: -42): [Local(ExitZone)],
  (x: 69, y: -41): [Local(ExitZone)],
  (x: 69, y: -40): [Local(ExitZone)],
  (x: 69, y: -39): [Local(ExitZone)],
  (x: 69, y: -38): [Local(ExitZone)],
  (x: 69, y: -37): [Local(ExitZone)],
  (x: 69, y: -36): [Wall],
  (x: 70, y: -42): [Local(ExitZone)],
  (x: 70, y: -41): [Local(ExitZone)],
  (x: 70, y: -40): [Local(ExitZone)],
  (x: 70, y: -39): [Local(ExitZone)],
  (x: 70, y: -38): [Local(ExitZone)],
  (x: 70, y: -37): [Local(ExitZone)],
  (x: 70, y: -36): [Wall],
  (x: 71, y: -58): [Wall],
  (x: 71, y: -57): [Wall],
  (x: 71, y: -56): [Wall],
  (x: 71, y: -55): [Wall],
  (x: 71, y: -54): [Wall],
  (x: 71, y: -53): [Wall],
  (x: 71, y: -52): [Wall],
  (x: 71, y: -51): [Wall],
  (x: 71, y: -50): [Wall],
  (x: 71, y: -49): [Wall],
  (x: 71, y: -48): [Wall],
  (x: 71, y: -47): [Wall],
  (x: 71, y: -46): [Wall],
  (x: 71, y: -45): [Wall],
  (x: 71, y: -44): [Wall],
  (x: 71, y: -43): [Wall],
  (x: 71, y: -42): [Wall],
  (x: 71, y: -41): [Wall],
  (x: 71, y: -40): [Wall],
  (x: 71, y: -39): [Wall],
  (x: 71, y: -38): [Wall],
  (x: 71, y: -37): [Wall],
  (x: 71, y: -36): [Wall],
 },
)