(
 squares: {
  (x: -100, y: -58): [Wall],
  (x: -100, y: -57): [Wall],
  (x: -100, y: -56): [Wall],
  (x: -100, y: -55): [Wall],
  (x: -100, y: -54): [Wall],
  (x: -100, y: -53): [Wall],
  (x: -100, y: -52): [Wall],
  (x: -100, y: -51): [Wall],
  (x: -100, y: -50): [Wall],
  (x: -100, y: -49): [Wall],
  (x: -100, y: -48): [Wall],
  (x: -100, y: -47): [Wall],
  (x: -100, y: -46): [Wall],
  (x: -100, y: -45): [Wall],
  (x: -100, y: -44): [Wall],
  (x: -100, y: -43): [Wall],
  (x: -100, y: -42): [Wall],
  (x: -100, y: -41): [Wall],
  (x: -100, y: -40): [Wall],
  (x: -100, y: -39): [Wall],
  (x: -100, y: -38): [Wall],
  (x: -100, y: -37): [Wall],
  (x: -100, y: -36): [Wall],
  (x: -100, y: -35): [Wall],
  (x: -100, y: -34): [Wall],
  (x: -100, y: -33): [Wall],
  (x: -100, y: -32): [Wall],
  (x: -100, y: -31): [Wall],
  (x: -100, y: -30): [Wall],
  (x: -100, y: -29): [Wall],
  (x: -100, y: -28): [Wall],
  (x: -100, y: -27): [Wall],
  (x: -100, y: -26): [Wall],
  (x: -100, y: -25): [Wall],
  (x: -100, y: -24): [Wall],
  (x: -100, y: -23): [Wall],
  (x: -100, y: -22): [Wall],
  (x: -100, y: -21): [Wall],
  (x: -100, y: -20): [Wall],
  (x: -100, y: -19): [Wall],
  (x: -100, y: -18): [Wall],
  (x: -99, y: -58): [Wall],
  (x: -99, y: -57): [Wall],
  (x: -99, y: -56): [Wall],
  (x: -99, y: -55): [Wall],
  (x: -99, y: -54): [Wall],
  (x: -99, y: -53): [Wall],
  (x: -99, y: -52): [Wall],
  (x: -99, y: -51): [Wall],
  (x: -99, y: -50): [Wall],
  (x: -99, y: -49): [Wall],
  (x: -99, y: -48): [Wall],
  (x: -99, y: -47): [Wall],
  (x: -99, y: -46): [Wall],
  (x: -99, y: -45): [Wall],
  (x: -99, y: -44): [Wall],
  (x: -99, y: -43): [Wall],
  (x: -99, y: -42): [Wall],
  (x: -99, y: -41): [Wall],
  (x: -99, y: -40): [Wall],
  (x: -99, y: -39): [Wall],
  (x: -99, y: -38): [Wall],
  (x: -99, y: -37): [Wall],
  (x: -99, y: -36): [Wall],
  (x: -99, y: -35): [Wall],
  (x: -99, y: -34): [Wall],
  (x: -99, y: -33): [Wall],
  (x: -99, y: -32): [Wall],
  (x: -99, y: -31): [Wall],
  (x: -99, y: -30): [Wall],
  (x: -99, y: -29): [Wall],
  (x: -99, y: -28): [Wall],
  (x: -99, y: -27): [Wall],
  (x: -99, y: -26): [Wall],
  (x: -99, y: -25): [Wall],
  (x: -99, y: -24): [Wall],
  (x: -99, y: -23): [Wall],
  (x: -99, y: -22): [Wall],
  (x: -99, y: -21): [Wall],
  (x: -99, y: -20): [Wall],
  (x: -99, y: -19): [Wall],
  (x: -99, y: -18): [Wall],
  (x: -98, y: -58): [Wall],
  (x: -98, y: -36): [Wall],
  (x: -98, y: -35): [Wall],
  (x: -98, y: -34): [Wall],
  (x: -97, y: -58): [Wall],
  (x: -97, y: -36): [Wall],
  (x: -97, y: -35): [Wall],
  (x: -97, y: -34): [Wall],
  (x: -96, y: -58): [Wall],
  (x: -96, y: -36): [Wall],
  (x: -96, y: -35): [Wall],
  (x: -96, y: -34): [Wall],
  (x: -95, y: -58): [Wall],
  (x: -95, y: -36): [Wall],
  (x: -95, y: -35): [Wall],
  (x: -95, y: -34): [Wall],
  (x: -94, y: -58): [Wall],
  (x: -94, y: -36): [Wall],
  (x: -94, y: -35): [Wall],
  (x: -94, y: -34): [Wall],
  (x: -93, y: -58): [Wall],
  (x: -93, y: -36): [Wall],
  (x: -93, y: -35): [Wall],
  (x: -93, y: -34): [Wall],
  (x: -92, y: -58): [Wall],
  (x: -92, y: -36): [Wall],
  (x: -92, y: -35): [Wall],
  (x: -92, y: -34): [Wall],
  (x: -91, y: -58): [Wall],
  (x: -91, y: -36): [Wall],
  (x: -91, y: -35): [Wall],
  (x: -91, y: -34): [Wall],
  (x: -90, y: -58): [Wall],
  (x: -90, y: -36): [Wall],
  (x: -90, y: -35): [Wall],
  (x: -90, y: -34): [Wall],
  (x: -89, y: -58): [Wall],
  (x: -89, y: -36): [Wall],
  (x: -89, y: -35): [Wall],
  (x: -89, y: -34): [Wall],
  (x: -88, y: -58): [Wall],
  (x: -88, y: -36): [Wall],
  (x: -88, y: -35): [Wall],
  (x: -88, y: -34): [Wall],
  (x: -87, y: -58): [Wall],
  (x: -87, y: -36): [Wall],
  (x: -87, y: -35): [Wall],
  (x: -87, y: -34): [Wall],
  (x: -86, y: -58): [Wall],
  (x: -86, y: -36): [Wall],
  (x: -86, y: -35): [Wall],
  (x: -86, y: -34): [Wall],
  (x: -85, y: -58): [Wall],
  (x: -85, y: -36): [Wall],
  (x: -85, y: -35): [Wall],
  (x: -85, y: -34): [Wall],
  (x: -84, y: -58): [Wall],
  (x: -84, y: -36): [Wall],
  (x: -84, y: -35): [Wall],
  (x: -84, y: -34): [Wall],
  (x: -83, y: -58): [Wall],
  (x: -83, y: -36): [Wall],
  (x: -83, y: -35): [Wall],
  (x: -83, y: -34): [Wall],
  (x: -82, y: -58): [Wall],
  (x: -82, y: -36): [Wall],
  (x: -82, y: -35): [Wall],
  (x: -82, y: -34): [Wall],
  (x: -81, y: -58): [Wall],
  (x: -81, y: -36): [Wall],
  (x: -81, y: -35): [Wall],
  (x: -81, y: -34): [Wall],
  (x: -80, y: -58): [Wall],
  (x: -80, y: -36): [Wall],
  (x: -80, y: -35): [Wall],
  (x: -80, y: -34): [Wall],
  (x: -79, y: -58): [Wall],
  (x: -79, y: -36): [Wall],
  (x: -79, y: -35): [Wall],
  (x: -79, y: -34): [Wall],
  (x: -78, y: -58): [Wall],
  (x: -78, y: -36): [Wall],
  (x: -78, y: -35): [Wall],
  (x: -78, y: -34): [Wall],
  (x: -77, y: -58): [Wall],
  (x: -77, y: -36): [Wall],
  (x: -77, y: -35): [Wall],
  (x: -77, y: -34): [Wall],
  (x: -76, y: -58): [Wall],
  (x: -76, y: -36): [Wall],
  (x: -76, y: -35): [Wall],
  (x: -76, y: -34): [Wall],
  (x: -75, y: -58): [Wall],
  (x: -75, y: -36): [Wall],
  (x: -75, y: -35): [Wall],
  (x: -75, y: -34): [Wall],
  (x: -74, y: -58): [Wall],
  (x: -74, y: -36): [Wall],
  (x: -74, y: -35): [Wall],
  (x: -74, y: -34): [Wall],
  (x: -73, y: -58): [Wall],
  (x: -73, y: -36): [Wall],
  (x: -73, y: -35): [Wall],
  (x: -73, y: -34): [Wall],
  (x: -72, y: -58): [Wall],
  (x: -72, y: -36): [Wall],
  (x: -72, y: -35): [Wall],
  (x: -72, y: -34): [Wall],
  (x: -71, y: -58): [Wall],
  (x: -71, y: -36): [Wall],
  (x: -71, y: -35): [Wall],
  (x: -71, y: -34): [Wall],
  (x: -70, y: -58): [Wall],
  (x: -70, y: -36): [Wall],
  (x: -70, y: -35): [Wall],
  (x: -70, y: -34): [Wall],
  (x: -69, y: -58): [Wall],
  (x: -69, y: -36): [Wall],
  (x: -69, y: -35): [Wall],
  (x: -69, y: -34): [Wall],
  (x: -68, y: -58): [Wall],
  (x: -68, y: -36): [Wall],
  (x: -68, y: -35): [Wall],
  (x: -68, y: -34): [Wall],
  (x: -67, y: -58): [Wall],
  (x: -67, y: -36): [Wall],
  (x: -67, y: -35): [Wall],
  (x: -67, y: -34): [Wall],
  (x: -66, y: -58): [Wall],
  (x: -66, y: -36): [Wall],
  (x: -66, y: -35): [Wall],
  (x: -66, y: -34): [Wall],
  (x: -65, y: -58): [Wall],
  (x: -65, y: -36): [Wall],
  (x: -65, y: -35): [Wall],
  (x: -65, y: -34): [Wall],
  (x: -64, y: -58): [Wall],
  (x: -64, y: -36): [Wall],
  (x: -64, y: -35): [Wall],
  (x: -64, y: -34): [Wall],
  (x: -63, y: -58): [Wall],
  (x: -63, y: -36): [Wall],
  (x: -63, y: -35): [Wall],
  (x: -63, y: -34): [Wall],
  (x: -62, y: -58): [Wall],
  (x: -62, y: -36): [Wall],
  (x: -62, y: -35): [Wall],
  (x: -62, y: -34): [Wall],
  (x: -61, y: -58): [Wall],
  (x: -61, y: -36): [Wall],
  (x: -61, y: -35): [Wall],
  (x: -61, y: -34): [Wall],
  (x: -60, y: -58): [Wall],
  (x: -60, y: -36): [Wall],
  (x: -60, y: -35): [Wall],
  (x: -60, y: -34): [Wall],
  (x: -59, y: -58): [Wall],
  (x: -59, y: -36): [Wall],
  (x: -59, y: -35): [Wall],
  (x: -59, y: -34): [Wall],
  (x: -58, y: -58): [Wall],
  (x: -58, y: -36): [Wall],
  (x: -58, y: -35): [Wall],
  (x: -58, y: -34): [Wall],
  (x: -57, y: -58): [Wall],
  (x: -57, y: -36): [Wall],
  (x: -57, y: -35): [Wall],
  (x: -57, y: -34): [Wall],
  (x: -56, y: -58): [Wall],
  (x: -56, y: -36): [Wall],
  (x: -56, y: -35): [Wall],
  (x: -56, y: -34): [Wall],
  (x: -55, y: -58): [Wall],
  (x: -55, y: -36): [Wall],
  (x: -55, y: -35): [Wall],
  (x: -55, y: -34): [Wall],
  (x: -54, y: -58): [Wall],
  (x: -54, y: -36): [Wall],
  (x: -54, y: -35): [Wall],
  (x: -54, y: -34): [Wall],
  (x: -53, y: -58): [Wall],
  (x: -53, y: -36): [Wall],
  (x: -53, y: -35): [Wall],
  (x: -53, y: -34): [Wall],
  (x: -52, y: -58): [Wall],
  (x: -52, y: -36): [Wall],
  (x: -52, y: -35): [Wall],
  (x: -52, y: -34): [Wall],
  (x: -51, y: -58): [Wall],
  (x: -51, y: -36): [Wall],
  (x: -51, y: -35): [Wall],
  (x: -51, y: -34): [Wall],
  (x: -50, y: -58): [Wall],
  (x: -50, y: -36): [Wall],
  (x: -50, y: -35): [Wall],
  (x: -50, y: -34): [Wall],
  (x: -49, y: -58): [Wall],
  (x: -49, y: -36): [Wall],
  (x: -49, y: -35): [Wall],
  (x: -49, y: -34): [Wall],
  (x: -48, y: -58): [Wall],
  (x: -48, y: -36): [Wall],
  (x: -48, y: -35): [Wall],
  (x: -48, y: -34): [Wall],
  (x: -47, y: -58): [Wall],
  (x: -47, y: -36): [Wall],
  (x: -47, y: -35): [Wall],
  (x: -47, y: -34): [Wall],
  (x: -46, y: -58): [Wall],
  (x: -46, y: -36): [Wall],
  (x: -46, y: -35): [Wall],
  (x: -46, y: -34): [Wall],
  (x: -45, y: -58): [Wall],
  (x: -45, y: -36): [Wall],
  (x: -45, y: -35): [Wall],
  (x: -45, y: -34): [Wall],
  (x: -44, y: -58): [Wall],
  (x: -44, y: -36): [Wall],
  (x: -44, y: -35): [Wall],
  (x: -44, y: -34): [Wall],
  (x: -43, y: -58): [Wall],
  (x: -43, y: -36): [Wall],
  (x: -43, y: -35): [Wall],
  (x: -43, y: -34): [Wall],
  (x: -42, y: -58): [Wall],
  (x: -42, y: -36): [Wall],
  (x: -42, y: -35): [Wall],
  (x: -42, y: -34): [Wall],
  (x: -41, y: -58): [Wall],
  (x: -41, y: -36): [Wall],
  (x: -41, y: -35): [Wall],
  (x: -41, y: -34): [Wall],
  (x: -40, y: -58): [Wall],
  (x: -40, y: -36): [Wall],
  (x: -40, y: -35): [Wall],
  (x: -40, y: -34): [Wall],
  (x: -39, y: -58): [Wall],
  (x: -39, y: -36): [Wall],
  (x: -39, y: -35): [Wall],
  (x: -39, y: -34): [Wall],
  (x: -38, y: -58): [Wall],
  (x: -38, y: -36): [Wall],
  (x: -38, y: -35): [Wall],
  (x: -38, y: -34): [Wall],
  (x: -37, y: -58): [Wall],
  (x: -37, y: -36): [Wall],
  (x: -37, y: -35): [Wall],
  (x: -37, y: -34): [Wall],
  (x: -36, y: -58): [Wall],
  (x: -36, y: -36): [Wall],
  (x: -36, y: -35): [Wall],
  (x: -36, y: -34): [Wall],
  (x: -35, y: -58): [Wall],
  (x: -35, y: -36): [Wall],
  (x: -35, y: -35): [Wall],
  (x: -35, y: -34): [Wall],
  (x: -34, y: -58): [Wall],
  (x: -34, y: -36): [Wall],
  (x: -34, y: -35): [Wall],
  (x: -34, y: -34): [Wall],
  (x: -33, y: -58): [Wall],
  (x: -33, y: -36): [Wall],
  (x: -33, y: -35): [Wall],
  (x: -33, y: -34): [Wall],
  (x: -32, y: -58): [Wall],
  (x: -32, y: -36): [Wall],
  (x: -32, y: -35): [Wall],
  (x: -32, y: -34): [Wall],
  (x: -31, y: -58): [Wall],
  (x: -31, y: -36): [Wall],
  (x: -31, y: -35): [Wall],
  (x: -31, y: -34): [Wall],
  (x: -30, y: -58): [Wall],
  (x: -30, y: -36): [Wall],
  (x: -30, y: -35): [Wall],
  (x: -30, y: -34): [Wall],
  (x: -29, y: -58): [Wall],
  (x: -29, y: -36): [Wall],
  (x: -29, y: -35): [Wall],
  (x: -29, y: -34): [Wall],
  (x: -28, y: -58): [Wall],
  (x: -28, y: -36): [Wall],
  (x: -28, y: -35): [Wall],
  (x: -28, y: -34): [Wall],
  (x: -27, y: -58): [Wall],
  (x: -27, y: -36): [Wall],
  (x: -27, y: -35): [Wall],
  (x: -27, y: -34): [Wall],
  (x: -26, y: -58): [Wall],
  (x: -26, y: -36): [Wall],
  (x: -26, y: -35): [Wall],
  (x: -26, y: -34): [Wall],
  (x: -25, y: -58): [Wall],
  (x: -25, y: -36): [Wall],
  (x: -25, y: -35): [Wall],
  (x: -25, y: -34): [Wall],
  (x: -24, y: -58): [Wall],
  (x: -24, y: -36): [Wall],
  (x: -24, y: -35): [Wall],
  (x: -24, y: -34): [Wall],
  (x: -23, y: -58): [Wall],
  (x: -23, y: -36): [Wall],
  (x: -23, y: -35): [Wall],
  (x: -23, y: -34): [Wall],
  (x: -23, y: -33): [Wall],
  (x: -23, y: -32): [Wall],
  (x: -23, y: -31): [Wall],
  (x: -23, y: -30): [Wall],
  (x: -23, y: -29): [Wall],
  (x: -23, y: -28): [Wall],
  (x: -23, y: -27): [Wall],
  (x: -23, y: -26): [Wall],
  (x: -23, y: -25): [Wall],
  (x: -23, y: -24): [Wall],
  (x: -23, y: -23): [Wall],
  (x: -23, y: -22): [Wall],
  (x: -23, y: -21): [Wall],
  (x: -23, y: -20): [Wall],
  (x: -23, y: -19): [Wall],
  (x: -23, y: -18): [Wall],
  (x: -23, y: -17): [Wall],
  (x: -23, y: -16): [Wall],
  (x: -23, y: -15): [Wall],
  (x: -23, y: -14): [Wall],
  (x: -23, y: -13): [Wall],
  (x: -23, y: -12): [Wall],
  (x: -23, y: -11): [Wall],
  (x: -23, y: -10): [Wall],
  (x: -23, y: -9): [Wall],
  (x: -23, y: -8): [Wall],
  (x: -23, y: -7): [Wall],
  (x: -23, y: -6): [Wall],
  (x: -23, y: -5): [Wall],
  (x: -23, y: -4): [Wall],
  (x: -23, y: -3): [Wall],
  (x: -23, y: -2): [Wall],
  (x: -23, y: -1): [Wall],
  (x: -23, y: 0): [Wall],
  (x: -23, y: 1): [Wall],
  (x: -23, y: 2): [Wall],
  (x: -23, y: 3): [Wall],
  (x: -23, y: 4): [Wall],
  (x: -23, y: 5): [Wall],
  (x: -23, y: 6): [Wall],
  (x: -23, y: 7): [Wall],
  (x: -23, y: 8): [Wall],
  (x: -23, y: 9): [Wall],
  (x: -23, y: 10): [Wall],
  (x: -23, y: 11): [Wall],
  (x: -23, y: 12): [Wall],
  (x: -23, y: 13): [Wall],
  (x: -23, y: 14): [Wall],
  (x: -23, y: 15): [Wall],
  (x: -23, y: 16): [Wall],
  (x: -23, y: 17): [Wall],
  (x: -23, y: 18): [Wall],
  (x: -23, y: 19): [Wall],
  (x: -23, y: 20): [Wall],
  (x: -23, y: 21): [Wall],
  (x: -23, y: 22): [Wall],
  (x: -23, y: 23): [Wall],
  (x: -23, y: 24): [Wall],
  (x: -23, y: 25): [Wall],
  (x: -22, y: -58): [Wall],
  (x: -22, y: -36): [Wall],
  (x: -22, y: -35): [Wall],
  (x: -22, y: -34): [Wall],
  (x: -22, y: -33): [Wall],
  (x: -22, y: -32): [Wall],
  (x: -22, y: -31): [Wall],
  (x: -22, y: -30): [Wall],
  (x: -22, y: -29): [Wall],
  (x: -22, y: -28): [Wall],
  (x: -22, y: -27): [Wall],
  (x: -22, y: -26): [Wall],
  (x: -22, y: -25): [Wall],
  (x: -22, y: -24): [Wall],
  (x: -22, y: -23): [Wall],
  (x: -22, y: -22): [Wall],
  (x: -22, y: -21): [Wall],
  (x: -22, y: -20): [Wall],
  (x: -22, y: -19): [Wall],
  (x: -22, y: -18): [Wall],
  (x: -22, y: -17): [Wall],
  (x: -22, y: -16): [Wall],
  (x: -22, y: -15): [Wall],
  (x: -22, y: -14): [Wall],
  (x: -22, y: -13): [Wall],
  (x: -22, y: -12): [Wall],
  (x: -22, y: -11): [Wall],
  (x: -22, y: -10): [Wall],
  (x: -22, y: -9): [Wall],
  (x: -22, y: -8): [Wall],
  (x: -22, y: -7): [Wall],
  (x: -22, y: -6): [Wall],
  (x: -22, y: -5): [Wall],
  (x: -22, y: -4): [Wall],
  (x: -22, y: -3): [Wall],
  (x: -22, y: -2): [Wall],
  (x: -22, y: -1): [Wall],
  (x: -22, y: 0): [Wall],
  (x: -22, y: 1): [Wall],
  (x: -22, y: 2): [Wall],
  (x: -22, y: 3): [Wall],
  (x: -22, y: 4): [Wall],
  (x: -22, y: 5): [Wall],
  (x: -22, y: 6): [Wall],
  (x: -22, y: 7): [Wall],
  (x: -22, y: 8): [Wall],
  (x: -22, y: 9): [Wall],
  (x: -22, y: 10): [Wall],
  (x: -22, y: 11): [Wall],
  (x: -22, y: 12): [Wall],
  (x: -22, y: 13): [Wall],
  (x: -22, y: 14): [Wall],
  (x: -22, y: 15): [Wall],
  (x: -22, y: 16): [Wall],
  (x: -22, y: 17): [Wall],
  (x: -22, y: 18): [Wall],
  (x: -22, y: 19): [Wall],
  (x: -22, y: 20): [Wall],
  (x: -22, y: 21): [Wall],
  (x: -22, y: 22): [Wall],
  (x: -22, y: 23): [Wall],
  (x: -22, y: 24): [Wall],
  (x: -22, y: 25): [Wall],
  (x: -21, y: -58): [Wall],
  (x: -21, y: 15): [Wall],
  (x: -21, y: 16): [Wall],
  (x: -21, y: 17): [Wall],
  (x: -21, y: 24): [Wall],
  (x: -21, y: 25): [Wall],
  (x: -20, y: -58): [Wall],
  (x: -20, y: 15): [Wall],
  (x: -20, y: 16): [Wall],
  (x: -20, y: 17): [Wall],
  (x: -20, y: 24): [Wall],
  (x: -20, y: 25): [Wall],
  (x: -19, y: -58): [Wall],
  (x: -19, y: 15): [Wall],
  (x: -19, y: 16): [Wall],
  (x: -19, y: 17): [Wall],
  (x: -19, y: 24): [Wall],
  (x: -19, y: 25): [Wall],
  (x: -18, y: -58): [Wall],
  (x: -18, y: 15): [Wall],
  (x: -18, y: 16): [Wall],
  (x: -18, y: 17): [Wall],
  (x: -18, y: 24): [Wall],
  (x: -18, y: 25): [Wall],
  (x: -17, y: -58): [Wall],
  (x: -17, y: 15): [Wall],
  (x: -17, y: 16): [Wall],
  (x: -17, y: 17): [Wall],
  (x: -17, y: 24): [Wall],
  (x: -17, y: 25): [Wall],
  (x: -16, y: -58): [Wall],
  (x: -16, y: 15): [Wall],
  (x: -16, y: 16): [Wall],
  (x: -16, y: 17): [Wall],
  (x: -16, y: 24): [Wall],
  (x: -16, y: 25): [Wall],
  (x: -15, y: -58): [Wall],
  (x: -15, y: 15): [Wall],
  (x: -15, y: 16): [Wall],
  (x: -15, y: 17): [Wall],
  (x: -15, y: 24): [Wall],
  (x: -15, y: 25): [Wall],
  (x: -14, y: -58): [Wall],
  (x: -14, y: 15): [Wall],
  (x: -14, y: 16): [Wall],
  (x: -14, y: 17): [Wall],
  (x: -14, y: 24): [Wall],
  (x: -14, y: 25): [Wall],
  (x: -13, y: -58): [Wall],
  (x: -13, y: 15): [Wall],
  (x: -13, y: 16): [Wall],
  (x: -13, y: 17): [Wall],
  (x: -13, y: 24): [Wall],
  (x: -13, y: 25): [Wall],
  (x: -12, y: -58): [Wall],
  (x: -12, y: 15): [Wall],
  (x: -12, y: 16): [Wall],
  (x: -12, y: 17): [Wall],
  (x: -12, y: 24): [Wall],
  (x: -12, y: 25): [Wall],
  (x: -11, y: -58): [Wall],
  (x: -11, y: 15): [Wall],
  (x: -11, y: 16): [Wall],
  (x: -11, y: 17): [Wall],
  (x: -11, y: 24): [Wall],
  (x: -11, y: 25): [Wall],
  (x: -10, y: -58): [Wall],
  (x: -10, y: 15): [Wall],
  (x: -10, y: 16): [Wall],
  (x: -10, y: 17): [Wall],
  (x: -10, y: 24): [Wall],
  (x: -10, y: 25): [Wall],
  (x: -9, y: -58): [Wall],
  (x: -9, y: 15): [Wall],
  (x: -9, y: 16): [Wall],
  (x: -9, y: 17): [Wall],
  (x: -9, y: 24): [Wall],
  (x: -9, y: 25): [Wall],
  (x: -8, y: -58): [Wall],
  (x: -8, y: 15): [Wall],
  (x: -8, y: 16): [Wall],
  (x: -8, y: 17): [Wall],
  (x: -8, y: 24): [Wall],
  (x: -8, y: 25): [Wall],
  (x: -7, y: -58): [Wall],
  (x: -7, y: 15): [Wall],
  (x: -7, y: 16): [Wall],
  (x: -7, y: 17): [Wall],
  (x: -7, y: 24): [Wall],
  (x: -7, y: 25): [Wall],
  (x: -6, y: -58): [Wall],
  (x: -6, y: 15): [Wall],
  (x: -6, y: 16): [Wall],
  (x: -6, y: 17): [Wall],
  (x: -6, y: 24): [Wall],
  (x: -6, y: 25): [Wall],
  (x: -5, y: -58): [Wall],
  (x: -5, y: 15): [Wall],
  (x: -5, y: 16): [Wall],
  (x: -5, y: 17): [Wall],
  (x: -5, y: 24): [Wall],
  (x: -5, y: 25): [Wall],
  (x: -4, y: -58): [Wall],
  (x: -4, y: 15): [Wall],
  (x: -4, y: 16): [Wall],
  (x: -4, y: 17): [Wall],
  (x: -4, y: 24): [Wall],
  (x: -4, y: 25): [Wall],
  (x: -3, y: -58): [Wall],
  (x: -3, y: 15): [Wall],
  (x: -3, y: 16): [Wall],
  (x: -3, y: 17): [Wall],
  (x: -3, y: 24): [Wall],
  (x: -3, y: 25): [Wall],
  (x: -2, y: -58): [Wall],
  (x: -2, y: 15): [Wall],
  (x: -2, y: 16): [Wall],
  (x: -2, y: 17): [Wall],
  (x: -2, y: 24): [Wall],
  (x: -2, y: 25): [Wall],
  (x: -1, y: -58): [Wall],
  (x: -1, y: -37): [Wall],
  (x: -1, y: -36): [Wall],
  (x: -1, y: -35): [Wall],
  (x: -1, y: -34): [Wall],
  (x: -1, y: -33): [Wall],
  (x: -1, y: -32): [Wall],
  (x: -1, y: -31): [Wall],
  (x: -1, y: -30): [Wall],
  (x: -1, y: -29): [Wall],
  (x: -1, y: -28): [Wall],
  (x: -1, y: -27): [Wall],
  (x: -1, y: -26): [Wall],
  (x: -1, y: -25): [Wall],
  (x: -1, y: -24): [Wall],
  (x: -1, y: -23): [Wall],
  (x: -1, y: -22): [Wall],
  (x: -1, y: -21): [Wall],
  (x: -1, y: -20): [Wall],
  (x: -1, y: -19): [Wall],
  (x: -1, y: -18): [Wall],
  (x: -1, y: -17): [Wall],
  (x: -1, y: -16): [Wall],
  (x: -1, y: -15): [Wall],
  (x: -1, y: -14): [Wall],
  (x: -1, y: -13): [Wall],
  (x: -1, y: -12): [Wall],
  (x: -1, y: -11): [Wall],
  (x: -1, y: -10): [Wall],
  (x: -1, y: -9): [Wall],
  (x: -1, y: -8): [Wall],
  (x: -1, y: -7): [Wall],
  (x: -1, y: -6): [Wall],
  (x: -1, y: -5): [Wall],
  (x: -1, y: -4): [Wall],
  (x: -1, y: -3): [Wall],
  (x: -1, y: -2): [Wall],
  (x: -1, y: -1): [Wall],
  (x: -1, y: 0): [Wall],
  (x: -1, y: 1): [Wall],
  (x: -1, y: 2): [Wall],
  (x: -1, y: 3): [Wall],
  (x: -1, y: 4): [Wall],
  (x: -1, y: 5): [Wall],
  (x: -1, y: 6): [Wall],
  (x: -1, y: 7): [Wall],
  (x: -1, y: 8): [Wall],
  (x: -1, y: 9): [Wall],
  (x: -1, y: 10): [Wall],
  (x: -1, y: 11): [Wall],
  (x: -1, y: 12): [Wall],
  (x: -1, y: 13): [Wall],
  (x: -1, y: 14): [Wall],
  (x: -1, y: 15): [Wall],
  (x: -1, y: 16): [Wall],
  (x: -1, y: 17): [Wall],
  (x: -1, y: 18): [Wall],
  (x: -1, y: 19): [Wall],
  (x: -1, y: 20): [Wall],
  (x: -1, y: 21): [Wall],
  (x: -1, y: 22): [Wall],
  (x: -1, y: 23): [Wall],
  (x: -1, y: 24): [Wall],
  (x: -1, y: 25): [Wall],
  (x: 0, y: -58): [Wall],
  (x: 0, y: -37): [Wall],
  (x: 0, y: -36): [Wall],
  (x: 0, y: -35): [Wall],
  (x: 0, y: -34): [Wall],
  (x: 0, y: -33): [Wall],
  (x: 0, y: -32): [Wall],
  (x: 0, y: -31): [Wall],
  (x: 0, y: -30): [Wall],
  (x: 0, y: -29): [Wall],
  (x: 0, y: -28): [Wall],
  (x: 0, y: -27): [Wall],
  (x: 0, y: -26): [Wall],
  (x: 0, y: -25): [Wall],
  (x: 0, y: -24): [Wall],
  (x: 0, y: -23): [Wall],
  (x: 0, y: -22): [Wall],
  (x: 0, y: -21): [Wall],
  (x: 0, y: -20): [Wall],
  (x: 0, y: -19): [Wall],
  (x: 0, y: -18): [Wall],
  (x: 0, y: -17): [Wall],
  (x: 0, y: -16): [Wall],
  (x: 0, y: -15): [Wall],
  (x: 0, y: -14): [Wall],
  (x: 0, y: -13): [Wall],
  (x: 0, y: -12): [Wall],
  (x: 0, y: -11): [Wall],
  (x: 0, y: -10): [Wall],
  (x: 0, y: -9): [Wall],
  (x: 0, y: -8): [Wall],
  (x: 0, y: -7): [Wall],
  (x: 0, y: -6): [Wall],
  (x: 0, y: -5): [Wall],
  (x: 0, y: -4): [Wall],
  (x: 0, y: -3): [Wall],
  (x: 0, y: -2): [Wall],
  (x: 0, y: -1): [Wall],
  (x: 0, y: 0): [Wall],
  (x: 0, y: 1): [Wall],
  (x: 0, y: 2): [Wall],
  (x: 0, y: 3): [Wall],
  (x: 0, y: 4): [Wall],
  (x: 0, y: 5): [Wall],
  (x: 0, y: 6): [Wall],
  (x: 0, y: 7): [Wall],
  (x: 0, y: 8): [Wall],
  (x: 0, y: 9): [Wall],
  (x: 0, y: 10): [Wall],
  (x: 0, y: 11): [Wall],
  (x: 0, y: 12): [Wall],
  (x: 0, y: 13): [Wall],
  (x: 0, y: 14): [Wall],
  (x: 0, y: 15): [Wall],
  (x: 0, y: 16): [Wall],
  (x: 0, y: 17): [Wall],
  (x: 0, y: 18): [Wall],
  (x: 0, y: 19): [Wall],
  (x: 0, y: 20): [Wall],
  (x: 0, y: 21): [Wall],
  (x: 0, y: 22): [Wall],
  (x: 0, y: 23): [Wall],
  (x: 0, y: 24): [Wall],
  (x: 0, y: 25): [Wall],
  (x: 1, y: -58): [Wall],
  (x: 1, y: -37): [Wall],
  (x: 1, y: -36): [Wall],
  (x: 2, y: -58): [Wall],
  (x: 2, y: -37): [Wall],
  (x: 2, y: -36): [Wall],
  (x: 3, y: -58): [Wall],
  (x: 3, y: -37): [Wall],
  (x: 3, y: -36): [Wall],
  (x: 4, y: -58): [Wall],
  (x: 4, y: -37): [Wall],
  (x: 4, y: -36): [Wall],
  (x: 5, y: -58): [Wall],
  (x: 5, y: -37): [Wall],
  (x: 5, y: -36): [Wall],
  (x: 6, y: -58): [Wall],
  (x: 6, y: -37): [Wall],
  (x: 6, y: -36): [Wall],
  (x: 7, y: -58): [Wall],
  (x: 7, y: -36): [Wall],
  (x: 8, y: -58): [Wall],
  (x: 8, y: -36): [Wall],
  (x: 9, y: -58): [Wall],
  (x: 9, y: -36): [Wall],
  (x: 10, y: -58): [Wall],
  (x: 10, y: -36): [Wall],
  (x: 11, y: -58): [Wall],
  (x: 11, y: -36): [Wall],
  (x: 12, y: -58): [Wall],
  (x: 12, y: -36): [Wall],
  (x: 13, y: -58): [Wall],
  (x: 13, y: -36): [Wall],
  (x: 14, y: -58): [Wall],
  (x: 14, y: -36): [Wall],
  (x: 15, y: -58): [Wall],
  (x: 15, y: -36): [Wall],
  (x: 16, y: -58): [Wall],
  (x: 16, y: -36): [Wall],
  (x: 17, y: -58): [Wall],
  (x: 17, y: -36): [Wall],
  (x: 18, y: -58): [Wall],
  (x: 18, y: -36): [Wall],
  (x: 19, y: -58): [Wall],
  (x: 19, y: -36): [Wall],
  (x: 20, y: -58): [Wall],
  (x: 20, y: -36): [Wall],
  (x: 21, y: -58): [Wall],
  (x: 21, y: -36): [Wall],
  (x: 22, y: -58): [Wall],
  (x: 22, y: -36): [Wall],
  (x: 23, y: -58): [Wall],
  (x: 23, y: -36): [Wall],
  (x: 24, y: -58): [Wall],
  (x: 24, y: -36): [Wall],
  (x: 25, y: -58): [Wall],
  (x: 25, y: -36): [Wall],
  (x: 26, y: -58): [Wall],
  (x: 26, y: -36): [Wall],
  (x: 27, y: -58): [Wall],
  (x: 27, y: -36): [Wall],
  (x: 28, y: -58): [Wall],
  (x: 28, y: -36): [Wall],
  (x: 29, y: -58): [Wall],
  (x: 29, y: -36): [Wall],
  (x: 30, y: -58): [Wall],
  (x: 30, y: -36): [Wall],
  (x: 31, y: -58): [Wall],
  (x: 31, y: -36): [Wall],
  (x: 32, y: -58): [Wall],
  (x: 32, y: -36): [Wall],
  (x: 33, y: -58): [Wall],
  (x: 33, y: -36): [Wall],
  (x: 34, y: -58): [Wall],
  (x: 34, y: -36): [Wall],
  (x: 35, y: -58): [Wall],
  (x: 35, y: -36): [Wall],
  (x: 36, y: -58): [Wall],
  (x: 36, y: -36): [Wall],
  (x: 37, y: -58): [Wall],
  (x: 37, y: -36): [Wall],
  (x: 38, y: -58): [Wall],
  (x: 38, y: -36): [Wall],
  (x: 39, y: -58): [Wall],
  (x: 39, y: -36): [Wall],
  (x: 40, y: -58): [Wall],
  (x: 40, y: -36): [Wall],
  (x: 41, y: -58): [Wall],
  (x: 41, y: -36): [Wall],
  (x: 42, y: -58): [Wall],
  (x: 42, y: -36): [Wall],
  (x: 43, y: -58): [Wall],
  (x: 43, y: -36): [Wall],
  (x: 44, y: -58): [Wall],
  (x: 44, y: -36): [Wall],
  (x: 45, y: -58): [Wall],
  (x: 45, y: -36): [Wall],
  (x: 46, y: -58): [Wall],
  (x: 46, y: -36): [Wall],
  (x: 47, y: -58): [Wall],
  (x: 47, y: -36): [Wall],
  (x: 48, y: -58): [Wall],
  (x: 48, y: -36): [Wall],
  (x: 49, y: -58): [Wall],
  (x: 49, y: -36): [Wall],
  (x: 50, y: -58): [Wall],
  (x: 50, y: -36): [Wall],
  (x: 51, y: -58): [Wall],
  (x: 51, y: -36): [Wall],
  (x: 52, y: -58): [Wall],
  (x: 52, y: -36): [Wall],
  (x: 53, y: -58): [Wall],
  (x: 53, y: -36): [Wall],
  (x: 54, y: -58): [Wall],
  (x: 54, y: -36): [Wall],
  (x: 55, y: -58): [Wall],
  (x: 55, y: -36): [Wall],
  (x: 56, y: -58): [Wall],
  (x: 56, y: -36): [Wall],
  (x: 57, y: -58): [Wall],
  (x: 57, y: -36): [Wall],
  (x: 58, y: -58): [Wall],
  (x: 58, y: -36): [Wall],
  (x: 59, y: -58): [Wall],
  (x: 59, y: -42): [Zone(ExitZone)],
  (x: 59, y: -41): [Zone(ExitZone)],
  (x: 59, y: -40): [Zone(ExitZone)],
  (x: 59, y: -39): [Zone(ExitZone)],
  (x: 59, y: -38): [Zone(ExitZone)],
  (x: 59, y: -37): [Zone(ExitZone)],
  (x: 59, y: -36): [Wall],
  (x: 60, y: -58): [Wall],
  (x: 60, y: -42): [Zone(ExitZone)],
  (x: 60, y: -41): [Zone(ExitZone)],
  (x: 60, y: -40): [Zone(ExitZone)],
  (x: 60, y: -39): [Zone(ExitZone)],
  (x: 60, y: -38): [Zone(ExitZone)],
  (x: 60, y: -37): [Zone(ExitZone)],
  (x: 60, y: -36): [Wall],
  (x: 61, y: -58): [Wall],
  (x: 61, y: -42): [Zone(ExitZone)],
  (x: 61, y: -41): [Zone(ExitZone)],
  (x: 61, y: -40): [Zone(ExitZone)],
  (x: 61, y: -39): [Zone(ExitZone)],
  (x: 61, y: -38): [Zone(ExitZone)],
  (x: 61, y: -37): [Zone(ExitZone)],
  (x: 61, y: -36): [Wall],
  (x: 62, y: -58): [Wall],
  (x: 62, y: -42): [Zone(ExitZone)],
  (x: 62, y: -41): [Zone(ExitZone)],
  (x: 62, y: -40): [Zone(ExitZone)],
  (x: 62, y: -39): [Zone(ExitZone)],
  (x: 62, y: -38): [Zone(ExitZone)],
  (x: 62, y: -37): [Zone(ExitZone)],
  (x: 62, y: -36): [Wall],
  (x: 63, y: -58): [Wall],
  (x: 63, y: -42): [Zone(ExitZone)],
  (x: 63, y: -41): [Zone(ExitZone)],
  (x: 63, y: -40): [Zone(ExitZone)],
  (x: 63, y: -39): [Zone(ExitZone)],
  (x: 63, y: -38): [Zone(ExitZone)],
  (x: 63, y: -37): [Zone(ExitZone)],
  (x: 63, y: -36): [Wall],
  (x: 64, y: -58): [Wall],
  (x: 64, y: -42): [Zone(ExitZone)],
  (x: 64, y: -41): [Zone(ExitZone)],
  (x: 64, y: -40): [Zone(ExitZone)],
  (x: 64, y: -39): [Zone(ExitZone)],
  (x: 64, y: -38): [Zone(ExitZone)],
  (x: 64, y: -37): [Zone(ExitZone)],
  (x: 64, y: -36): [Wall],
  (x: 65, y: -58): [Wall],
  (x: 65, y: -42): [Zone(ExitZone)],
  (x: 65, y: -41): [Zone(ExitZone)],
  (x: 65, y: -40): [Zone(ExitZone)],
  (x: 65, y: -39): [Zone(ExitZone)],
  (x: 65, y: -38): [Zone(ExitZone)],
  (x: 65, y: -37): [Zone(ExitZone)],
  (x: 65, y: -36): [Wall],
  (x: 66, y: -58): [Wall],
  (x: 66, y: -42): [Zone(ExitZone)],
  (x: 66, y: -41): [Zone(ExitZone)],
  (x: 66, y: -40): [Zone(ExitZone)],
  (x: 66, y: -39): [Zone(ExitZone)],
  (x: 66, y: -38): [Zone(ExitZone)],
  (x: 66, y: -37): [Zone(ExitZone)],
  (x: 66, y: -36): [Wall],
  (x: 67, y: -58): [Wall],
  (x: 67, y: -42): [Zone(ExitZone)],
  (x: 67, y: -41): [Zone(ExitZone)],
  (x: 67, y: -40): [Zone(ExitZone)],
  (x: 67, y: -39): [Zone(ExitZone)],
  (x: 67, y: -38): [Zone(ExitZone)],
  (x: 67, y: -37): [Zone(ExitZone)],
  (x: 67, y: -36): [Wall],
  (x: 68, y: -58): [Wall],
  (x: 68, y: -42): [Zone(ExitZone)],
  (x: 68, y: -41): [Zone(ExitZone)],
  (x: 68, y: -40): [Zone(ExitZone)],
  (x: 68, y: -39): [Zone(ExitZone)],
  (x: 68, y: -38): [Zone(ExitZone)],
  (x: 68, y: -37): [Zone(ExitZone)],
  (x: 68, y: -36): [Wall],
  (x: 69, y: -58): [Wall],
  (x: 69, y: -42): [Zone(ExitZone)],
  (x: 69, y: -41): [Zone(ExitZone)],
  (x: 69, y: -40): [Zone(ExitZone)],
  (x: 69, y: -39): [Zone(ExitZone)],
  (x: 69, y: -38): [Zone(ExitZone)],
  (x: 69, y: -37): [Zone(ExitZone)],
  (x: 69, y: -36): [Wall],
  (x: 70, y: -58): [Wall],
  (x: 70, y: -42): [Zone(ExitZone)],
  (x: 70, y: -41): [Zone(ExitZone)],
  (x: 70, y: -40): [Zone(ExitZone)],
  (x: 70, y: -39): [Zone(ExitZone)],
  (x: 70, y: -38): [Zone(ExitZone)],
  (x: 70, y: -37): [Zone(ExitZone)],
  (x: 70, y: -36): [Wall],
  (x: 71, y: -58): [Wall],
  (x: 71, y: -57): [Wall],
  (x: 71, y: -56): [Wall],
  (x: 71, y: -55): [Wall],
  (x: 71, y: -54): [Wall],
  (x: 71, y: -53): [Wall],
  (x: 71, y: -52): [Wall],
  (x: 71, y: -51): [Wall],
  (x: 71, y: -50): [Wall],
  (x: 71, y: -49): [Wall],
  (x: 71, y: -48): [Wall],
  (x: 71, y: -47): [Wall],
  (x: 71, y: -46): [Wall],
  (x: 71, y: -45): [Wall],
  (x: 71, y: -44): [Wall],
  (x: 71, y: -43): [Wall],
  (x: 71, y: -42): [Wall],
  (x: 71, y: -41): [Wall],
  (x: 71, y: -40): [Wall],
  (x: 71, y: -39): [Wall],
  (x: 71, y: -38): [Wall],
  (x: 71, y: -37): [Wall],
  (x: 71, y: -36): [Wall],
 },
)
