(
 squares: {
  (x: -54, y: -24): [Wall],
  (x: -54, y: -23): [Wall],
  (x: -54, y: -22): [Wall],
  (x: -54, y: -21): [Wall],
  (x: -54, y: -20): [Wall],
  (x: -54, y: -19): [Wall],
  (x: -54, y: -18): [Wall],
  (x: -54, y: -17): [Wall],
  (x: -54, y: -16): [Wall],
  (x: -54, y: -15): [Wall],
  (x: -54, y: -14): [Wall],
  (x: -54, y: -13): [Wall],
  (x: -53, y: -24): [Wall],
  (x: -53, y: -13): [Wall],
  (x: -52, y: -24): [Wall],
  (x: -52, y: -13): [Wall],
  (x: -51, y: -24): [Wall],
  (x: -51, y: -13): [Wall],
  (x: -50, y: -24): [Wall],
  (x: -50, y: -13): [Wall],
  (x: -49, y: -24): [Wall],
  (x: -49, y: -13): [Wall],
  (x: -48, y: -24): [Wall],
  (x: -48, y: -13): [Wall],
  (x: -47, y: -24): [Wall],
  (x: -47, y: -23): [Local(ExitZone)],
  (x: -47, y: -22): [Local(ExitZone)],
  (x: -47, y: -21): [Local(ExitZone)],
  (x: -47, y: -20): [Local(ExitZone)],
  (x: -47, y: -13): [Wall],
  (x: -46, y: -24): [Wall],
  (x: -46, y: -23): [Local(ExitZone)],
  (x: -46, y: -22): [Local(ExitZone)],
  (x: -46, y: -21): [Local(ExitZone)],
  (x: -46, y: -20): [Local(ExitZone)],
  (x: -46, y: -13): [Wall],
  (x: -46, y: -12): [Wall],
  (x: -45, y: -24): [Wall],
  (x: -45, y: -23): [Local(ExitZone)],
  (x: -45, y: -22): [Local(ExitZone)],
  (x: -45, y: -21): [Local(ExitZone)],
  (x: -45, y: -20): [Local(ExitZone)],
  (x: -45, y: -12): [Wall],
  (x: -45, y: -11): [Wall],
  (x: -44, y: -24): [Wall],
  (x: -44, y: -23): [Local(ExitZone)],
  (x: -44, y: -22): [Local(ExitZone)],
  (x: -44, y: -21): [Local(ExitZone)],
  (x: -44, y: -20): [Local(ExitZone)],
  (x: -44, y: -11): [Wall],
  (x: -44, y: -10): [Wall],
  (x: -43, y: -24): [Wall],
  (x: -43, y: -23): [Local(ExitZone)],
  (x: -43, y: -22): [Local(ExitZone)],
  (x: -43, y: -21): [Local(ExitZone)],
  (x: -43, y: -20): [Local(ExitZone)],
  (x: -43, y: -10): [Wall],
  (x: -43, y: -9): [Wall],
  (x: -42, y: -24): [Wall],
  (x: -42, y: -23): [Local(ExitZone)],
  (x: -42, y: -22): [Local(ExitZone)],
  (x: -42, y: -21): [Local(ExitZone)],
  (x: -42, y: -20): [Local(ExitZone)],
  (x: -42, y: -9): [Wall],
  (x: -42, y: -8): [Wall],
  (x: -42, y: -7): [Wall],
  (x: -42, y: -6): [Wall],
  (x: -42, y: -5): [Wall],
  (x: -42, y: -4): [Wall],
  (x: -42, y: -3): [Wall],
  (x: -42, y: -2): [Wall],
  (x: -42, y: -1): [Wall],
  (x: -41, y: -24): [Wall],
  (x: -41, y: -23): [Local(ExitZone)],
  (x: -41, y: -22): [Local(ExitZone)],
  (x: -41, y: -21): [Local(ExitZone)],
  (x: -41, y: -20): [Local(ExitZone)],
  (x: -41, y: -1): [Wall],
  (x: -40, y: -24): [Wall],
  (x: -40, y: -23): [Local(ExitZone)],
  (x: -40, y: -22): [Local(ExitZone)],
  (x: -40, y: -21): [Local(ExitZone)],
  (x: -40, y: -20): [Local(ExitZone)],
  (x: -40, y: -1): [Wall],
  (x: -39, y: -24): [Wall],
  (x: -39, y: -23): [Local(ExitZone)],
  (x: -39, y: -22): [Local(ExitZone)],
  (x: -39, y: -21): [Local(ExitZone)],
  (x: -39, y: -20): [Local(ExitZone)],
  (x: -39, y: -1): [Wall],
  (x: -38, y: -24): [Wall],
  (x: -38, y: -23): [Local(ExitZone)],
  (x: -38, y: -22): [Local(ExitZone)],
  (x: -38, y: -21): [Local(ExitZone)],
  (x: -38, y: -20): [Local(ExitZone)],
  (x: -38, y: -1): [Wall],
  (x: -37, y: -24): [Wall],
  (x: -37, y: -23): [Local(ExitZone)],
  (x: -37, y: -22): [Local(ExitZone)],
  (x: -37, y: -21): [Local(ExitZone)],
  (x: -37, y: -20): [Local(ExitZone)],
  (x: -37, y: -1): [Wall],
  (x: -36, y: -24): [Wall],
  (x: -36, y: -23): [Local(ExitZone)],
  (x: -36, y: -22): [Local(ExitZone)],
  (x: -36, y: -21): [Local(ExitZone)],
  (x: -36, y: -20): [Local(ExitZone)],
  (x: -36, y: -1): [Wall],
  (x: -35, y: -24): [Wall],
  (x: -35, y: -23): [Local(ExitZone)],
  (x: -35, y: -22): [Local(ExitZone)],
  (x: -35, y: -21): [Local(ExitZone)],
  (x: -35, y: -20): [Local(ExitZone)],
  (x: -35, y: -1): [Wall],
  (x: -34, y: -24): [Wall],
  (x: -34, y: -1): [Wall],
  (x: -33, y: -24): [Wall],
  (x: -33, y: -1): [Wall],
  (x: -32, y: -24): [Wall],
  (x: -32, y: -1): [Wall],
  (x: -31, y: -24): [Wall],
  (x: -31, y: -1): [Wall],
  (x: -30, y: -24): [Wall],
  (x: -30, y: -1): [Wall],
  (x: -29, y: -24): [Wall],
  (x: -29, y: -1): [Wall],
  (x: -28, y: -24): [Wall],
  (x: -28, y: -1): [Wall],
  (x: -27, y: -24): [Wall],
  (x: -27, y: -1): [Wall],
  (x: -26, y: -24): [Wall],
  (x: -26, y: -1): [Wall],
  (x: -25, y: -24): [Wall],
  (x: -25, y: -1): [Wall],
  (x: -24, y: -24): [Wall],
  (x: -24, y: -1): [Wall],
  (x: -23, y: -24): [Wall],
  (x: -23, y: -1): [Wall],
  (x: -22, y: -24): [Wall],
  (x: -22, y: -1): [Wall],
  (x: -21, y: -24): [Wall],
  (x: -21, y: -1): [Wall],
  (x: -20, y: -24): [Wall],
  (x: -20, y: -1): [Wall],
  (x: -19, y: -24): [Wall],
  (x: -19, y: -1): [Wall],
  (x: -18, y: -24): [Wall],
  (x: -18, y: -1): [Wall],
  (x: -17, y: -24): [Wall],
  (x: -17, y: -1): [Wall],
  (x: -16, y: -24): [Wall],
  (x: -16, y: -1): [Wall],
  (x: -15, y: -24): [Wall],
  (x: -15, y: -1): [Wall],
  (x: -14, y: -24): [Wall],
  (x: -14, y: -1): [Wall],
  (x: -13, y: -24): [Wall],
  (x: -13, y: -1): [Wall],
  (x: -12, y: -24): [Wall],
  (x: -12, y: -1): [Wall],
  (x: -11, y: -24): [Wall],
  (x: -11, y: -1): [Wall],
  (x: -10, y: -24): [Wall],
  (x: -10, y: -1): [Wall],
  (x: -9, y: -24): [Wall],
  (x: -9, y: -1): [Wall],
  (x: -8, y: -24): [Wall],
  (x: -8, y: -1): [Wall],
  (x: -7, y: -24): [Wall],
  (x: -7, y: -1): [Wall],
  (x: -6, y: -24): [Wall],
  (x: -6, y: -1): [Wall],
  (x: -5, y: -24): [Wall],
  (x: -5, y: -1): [Wall],
  (x: -4, y: -24): [Wall],
  (x: -4, y: -1): [Wall],
  (x: -3, y: -24): [Wall],
  (x: -3, y: -1): [Wall],
  (x: -2, y: -24): [Wall],
  (x: -2, y: -1): [Wall],
  (x: -1, y: -24): [Wall],
  (x: -1, y: -1): [Wall],
  (x: 0, y: -24): [Wall],
  (x: 0, y: -1): [Wall],
  (x: 1, y: -24): [Wall],
  (x: 1, y: -1): [Wall],
  (x: 2, y: -24): [Wall],
  (x: 2, y: -1): [Wall],
  (x: 3, y: -24): [Wall],
  (x: 3, y: -1): [Wall],
  (x: 4, y: -24): [Wall],
  (x: 4, y: -1): [Wall],
  (x: 5, y: -24): [Wall],
  (x: 5, y: -1): [Wall],
  (x: 6, y: -24): [Wall],
  (x: 6, y: -1): [Wall],
  (x: 7, y: -24): [Wall],
  (x: 7, y: -1): [Wall],
  (x: 8, y: -24): [Wall],
  (x: 8, y: -1): [Wall],
  (x: 9, y: -24): [Wall],
  (x: 9, y: -1): [Wall],
  (x: 10, y: -24): [Wall],
  (x: 10, y: -1): [Wall],
  (x: 11, y: -24): [Wall],
  (x: 11, y: -1): [Wall],
  (x: 12, y: -24): [Wall],
  (x: 12, y: -1): [Wall],
  (x: 13, y: -24): [Wall],
  (x: 13, y: -1): [Wall],
  (x: 14, y: -24): [Wall],
  (x: 14, y: -1): [Wall],
  (x: 15, y: -24): [Wall],
  (x: 15, y: -1): [Wall],
  (x: 16, y: -24): [Wall],
  (x: 16, y: -1): [Wall],
  (x: 17, y: -24): [Wall],
  (x: 17, y: -1): [Wall],
  (x: 18, y: -24): [Wall],
  (x: 18, y: -1): [Wall],
  (x: 19, y: -24): [Wall],
  (x: 19, y: -1): [Wall],
  (x: 20, y: -24): [Wall],
  (x: 20, y: -1): [Wall],
  (x: 21, y: -24): [Wall],
  (x: 21, y: -1): [Wall],
  (x: 22, y: -24): [Wall],
  (x: 22, y: -1): [Wall],
  (x: 23, y: -24): [Wall],
  (x: 23, y: -13): [Wall],
  (x: 23, y: -12): [Wall],
  (x: 23, y: -11): [Wall],
  (x: 23, y: -10): [Wall],
  (x: 23, y: -9): [Wall],
  (x: 23, y: -8): [Wall],
  (x: 23, y: -7): [Wall],
  (x: 23, y: -6): [Wall],
  (x: 23, y: -5): [Wall],
  (x: 23, y: -4): [Wall],
  (x: 23, y: -3): [Wall],
  (x: 23, y: -2): [Wall],
  (x: 23, y: -1): [Wall],
  (x: 24, y: -24): [Wall],
  (x: 24, y: -13): [Wall],
  (x: 24, y: -12): [Wall],
  (x: 24, y: -11): [Wall],
  (x: 24, y: -10): [Wall],
  (x: 24, y: -9): [Wall],
  (x: 24, y: -8): [Wall],
  (x: 24, y: -7): [Wall],
  (x: 24, y: -6): [Wall],
  (x: 24, y: -5): [Wall],
  (x: 24, y: -4): [Wall],
  (x: 24, y: -3): [Wall],
  (x: 24, y: -2): [Wall],
  (x: 24, y: -1): [Wall],
  (x: 25, y: -24): [Wall],
  (x: 25, y: -13): [Wall],
  (x: 25, y: -12): [Wall],
  (x: 25, y: -11): [Wall],
  (x: 25, y: -10): [Wall],
  (x: 25, y: -9): [Wall],
  (x: 25, y: -8): [Wall],
  (x: 25, y: -7): [Wall],
  (x: 25, y: -6): [Wall],
  (x: 25, y: -5): [Wall],
  (x: 25, y: -4): [Wall],
  (x: 25, y: -3): [Wall],
  (x: 25, y: -2): [Wall],
  (x: 25, y: -1): [Wall],
  (x: 25, y: 0): [Wall],
  (x: 26, y: -24): [Wall],
  (x: 26, y: 0): [Wall],
  (x: 27, y: -24): [Wall],
  (x: 27, y: 0): [Wall],
  (x: 28, y: -24): [Wall],
  (x: 28, y: 0): [Wall],
  (x: 29, y: -24): [Wall],
  (x: 29, y: 0): [Wall],
  (x: 30, y: -24): [Wall],
  (x: 30, y: 0): [Wall],
  (x: 31, y: -24): [Wall],
  (x: 31, y: 0): [Wall],
  (x: 32, y: -24): [Wall],
  (x: 32, y: 0): [Wall],
  (x: 33, y: -24): [Wall],
  (x: 33, y: 0): [Wall],
  (x: 34, y: -24): [Wall],
  (x: 34, y: 0): [Wall],
  (x: 35, y: -24): [Wall],
  (x: 35, y: 0): [Wall],
  (x: 36, y: -24): [Wall],
  (x: 36, y: 0): [Wall],
  (x: 37, y: -24): [Wall],
  (x: 37, y: 0): [Wall],
  (x: 38, y: -24): [Wall],
  (x: 38, y: 0): [Wall],
  (x: 39, y: -24): [Wall],
  (x: 39, y: 0): [Wall],
  (x: 40, y: -24): [Wall],
  (x: 40, y: 0): [Wall],
  (x: 41, y: -24): [Wall],
  (x: 41, y: 0): [Wall],
  (x: 42, y: -24): [Wall],
  (x: 42, y: 0): [Wall],
  (x: 43, y: -24): [Wall],
  (x: 43, y: 0): [Wall],
  (x: 44, y: -24): [Wall],
  (x: 44, y: 0): [Wall],
  (x: 45, y: -24): [Wall],
  (x: 45, y: -23): [Wall],
  (x: 45, y: -22): [Wall],
  (x: 45, y: -21): [Wall],
  (x: 45, y: -20): [Wall],
  (x: 45, y: -19): [Wall],
  (x: 45, y: -18): [Wall],
  (x: 45, y: -17): [Wall],
  (x: 45, y: -16): [Wall],
  (x: 45, y: -15): [Wall],
  (x: 45, y: -14): [Wall],
  (x: 45, y: -13): [Wall],
  (x: 45, y: -12): [Wall],
  (x: 45, y: -11): [Wall],
  (x: 45, y: -10): [Wall],
  (x: 45, y: -9): [Wall],
  (x: 45, y: -8): [Wall],
  (x: 45, y: -7): [Wall],
  (x: 45, y: -6): [Wall],
  (x: 45, y: -5): [Wall],
  (x: 45, y: -4): [Wall],
  (x: 45, y: -3): [Wall],
  (x: 45, y: -2): [Wall],
  (x: 45, y: -1): [Wall],
  (x: 45, y: 0): [Wall],
 },
)